/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Mobile*/
@media (max-width: 900px)
{

/* General */
._do_pdl_home_sec,
._do_pdl_home_main,
._do_pdl_home_card,
._do_pdl3_rckt_dtls_txt,
._do_pdl3_rckt_dtls_top,
._do_pdl3_rckt_dtls_txt_main,
._do_pdl_trvl_sec,
._do_pdl2_trips,
._do_pdl2_trvl_spot_sec,
._do_pdl4_bnner,
._do_pdl_nws_sec,
._do_pdl_trvl_sec,
._do_pdl_trvl_lft,
._do_pdl_trvl_lft_inr,
._do_pdl_trvl_r8,
._do_pdl_trvl_card,
._do_pdl2_trips,
._do_pdl2_trips_crd,
._do_pdl2_trvl_spot_top,
._do_pdl2_trvl_top_lft,
._do_pdl2_trvl_top_r8,
._do_pdl2_trvl_crd_all,
._do_pdl2_trvl_crd,
._do_pdl4_bnner_sec,
._do_pdl4_dtls,
._do_pdl4_dtls_itm,
._do_pdl_nws_card,
._do_pdl_all_racket_sec,
._do_pdl_all_rckt_clm,
._do_pdl_all_rckt_r8,
._do_pdl_all_rckt_lft,
._do_pdl2_home_sec,
._do_pdl2_home_info,
._do_pdl4_schdl_sec,
._do_pdl4_schdl_card,
._do_pdl2_schdule_sec,
._do_pdl2_schdule_lft,
._do_pdl2_schdule_crd,
._do_pdl2_schdule_r8,
._do_pdl4_coach ,
._do_pdl4_coach_main_all,
._do_pdl4_coach_lft,
._do_pdl4_coach_lft_main,
._do_pdl4_coach_,
._do_pdl4_coach_silder,
._do_pdl4_coach_main,
._do_pdl3_home,
._do_pdl3_home_lft,
._do_pdl3_home_r8,
._do_pdl3_rckt_dtls,
._do_pdl3_rckt_dtls_inner,
._do_pdl_video_sec,
._do_pdl_video_info,
._do_pdl_video_main,
._do_pdl_video_inner,
._do_pdl3_pepl_view_sec,
._do_pdl3_pepl_view_card,
._padel10_main {
		float: left;
		
		width: 100% !important;
		height: auto;
		margin: 0;
		position: relative;
		padding: 0;
		max-width: 100%;
		max-height: auto;
        overflow: auto;
        display: flex;
	}

	._do_pdl_home_sec,
._do_pdl3_rckt_dtls_txt_sngl_lft p, ._do_pdl3_rckt_dtls_txt_sngl_r8 p,
._do_pdl_nws_sec,
._do_pdl2_trips,
._do_pdl_trvl_sec,
._do_pdl2_trvl_spot_sec,
._do_pdl_all_racket_sec,
._do_pdl2_home_sec,
._do_pdl4_schdl_sec,
._do_pdl2_schdule_sec,
._do_pdl4_coach,
._do_pdl3_home,
._do_pdl3_rckt_dtls,
._do_pdl_video_sec,
._do_pdl3_pepl_view_sec,
._do_pdl3_rckt_dtls_top { 
		padding: 20px;
	}	


/* DO PADEL WIDGETS                           _CLASSNAME */
._do_pdl_info {
    padding-left: 30px;
}
._do_pdl_info_sec {
    min-height: auto;
    padding: 150px 0px;
}
._do_pdl_info h3 {
    font-size: 40px;
}
._do_pdl_info p {
    font-size: 30px;
    line-height: 1.30;
}
._do_pdl_info a {
    font-size: 18px;
    margin-top: 70px;
    padding: 17px 30px;
}
._do_pdl_nws_sec{
    display: block !important;
}
/*---===  RACKET STYLE 3 ====---*/


/*---===  TRAVEL PADEL STYLE 4 ====---*/
._do_pdl_trvl_sec {
    padding: 50px 20px;
    display: block;
}
._do_pdl_trvl_info {
    top: 30%;
}
._do_pdl_trvl_lft, ._do_pdl_trvl_r8{
    width: 100%;
}
._do_pdl_trvl_lft_inr {
    padding-right: 0px;
}
._do_pdl_trvl_lft {
    width: 100%;
    padding-bottom: 30px;
}
._do_pdl_trvl_lft_inr {
    text-align: center;
}
._do_pdl_trvl_lft h3 {
    margin: 0px 0px 10px 0px;
}
._do_pdl_trvl_lft h4 {
    font-size: 25px;
    line-height: 1.30;
    margin: 10px 0 20px;
    text-align: center;
}
._do_pdl_trvl_lft p {
 	margin: 0px 0px 20px;
	padding:0;
}
._do_pdl_trvl_lft a {
    font-size: 16px;
    padding: 16px 27px;
	margin: 0 15px;
    display: block;
}
._do_pdl_trvl_r8 {
    display: block;
}
._do_pdl_trvl_card {
    height: 350px;
    width: 100%;
    margin: 0 0 20px 0;
}
._do_pdl_trvl_lft p {
    padding-right: 0px;
}
._do_pdl_trvl_r8 ._do_pdl_trvl_card:first-child img{
 border-top-left-radius: 0px !important;
 border-bottom-left-radius: 0px !important;
}
._do_pdl_trvl_r8 ._do_pdl_trvl_card:last-child img{
  border-top-right-radius: 0px !important;
 border-bottom-right-radius: 0px !important;
}
/*---===  TRAVEL PADEL STYLE 4 ====---*/


/*---===  NEWS PADEL STYLE 3 ====---*/
._do_pdl_nws_sec {
    padding: 70px 20px;
}
._do_pdl_nws_main {
    display: block;
}
._do_pdl_nws_card {
    flex: 0 0 92%;
    margin-right: 10px;
    height: 320px;
}

._do_pdl_nws_titl h3 {
    line-height: 1.41;
    padding: 0px 20px;
}
._do_pdl_nws_dte {
	/* display:none; */
}
.event_date {
    font-size: 15px;
    padding: 7px 10px;
}._do_pdl_nws_crd_info {
    bottom: 10px;
    left: 20px;
}

/*---===  NEWS PADEL STYLE 3 ====---*/


/*---===  PADEL RACKETS STYLE 1 ====---*/
._do_pdl3_home {          
    display: block;
    padding: 50px 20px;
}
._do_pdl3_home_lft {
    width: 100%;
    padding-right: 0px;
    text-align: center;
    margin-bottom: 50px;
}
._do_pdl3_home_lft_top p {
    margin: 0 auto;
}
._do_pdl3_home_lft_top h3 {
    margin: 10px 0px 10px 0px;
    font-size: 40px;
}
._do_pdl3_home_lft_top h4 {
    font-size: 30px;
    margin: 0px 0px 25px 0px;
}
._do_pdl3_home_lft_txt p {
    margin: 0px 0px 20px;
    font-size: 19px;
}
._do_pdl3_home_lft_btm h3 {
    margin: 0px 0px 20px;
    font-size: 40px;
    text-align: center;
}
._do_pdl3_home_lft_btm a {
    font-size: 22px;
    padding: 15px 25px;
	margin: 0 30px 40px;
    text-align: center;
    display: block;
}
._do_pdl3_home_r8 {
    width: 100%;
}
._do_pdl3_home_r8_img {
    height: auto;
}
._do_pdl3_home_r8_btm p {
    margin: 30px 0px 0px 0px;
}
._do_pdl3_home_icon {
    bottom: 30px;
}
/*---=== PADEL RACKETS STYLE 1 ====---*/


/*---===  PADEL TRIPS STYLE 1 ====---*/
._do_pdl2_home_sec {
    height: auto;
    padding: 100px 20px;
}
._do_pdl2_home_info {
    width: 100%;
    text-align: center;
}
._do_pdl2_home_info_inner {
    padding-right: 0px;
    padding-bottom: 0px;
}
._do_pdl2_home_info h3 {
    line-height: 1.13;
}
._do_pdl2_home_info p {
    font-size: 18px;
    line-height: 1.75;
	margin: 0 0 20px 0;
}
._do_pdl2_home_info a {
    font-size: 15px;
    margin: 0 auto;
    display: block;
    padding: 15px 32px;
}
/*---===  PADEL TRIPS STYLE 1 ====---*/

/*---===  PADEL TRIPS STYLE 3 ====---*/
._do_pdl_glry_sec {
    display: block;
    padding: 100px 20px;
}
._do_pdl_glry_info {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
._do_pdl_glry_info_inner {
    padding-right: 0px;
}
._do_pdl_glry_info h3 {
    font-size: 49px;
}
._do_pdl_glry_info p {
    font-size: 19px;
    line-height: 1.56;
}
._do_pdl_glry_info a {
    font-size: 19px;
    margin-top: 32px;
}
._do_pdl_glry_all_img {
    width: 100%;
}
._do_pdl_glry_sngl_img {
    margin-right: 0px;
    margin-bottom: 20px;
    height: 425px !important;
    width: 100% !important;
}
._do_pdl_glry_sngl_img:nth-child(3) {
    margin-left:0px;
}
._do_pdl_glry_sngl_img:nth-child(2) img {
    border-top-right-radius: 0px;
}
._do_pdl_glry_sngl_img:nth-child(1) img {
    border-top-left-radius: 0px;
}
._do_pdl_glry_sngl_img:nth-child(3) img {
    border-bottom-left-radius: 0px;
}
._do_pdl_glry_sngl_img:nth-child(4) img {
    border-bottom-right-radius: 0px;
}
._do_pdl_glry_sngl_img:nth-child(4) {
    width: 293px;
    height: 293px;
}
/*---===  PADEL TRIPS STYLE 3 ====---*/


/*---===  PADEL TRIPS STYLE 2 ====---*/
._do_pdl2_schdule_sec {
    display: block;
    padding: 100px 20px;
}
._do_pdl2_schdule_lft {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}
._do_pdl2_schdule_lft_inner {
    padding-right: 0;
}
._do_pdl2_schdule_lft p {
    font-size: 35px;
}
._do_pdl2_schdule_lft h3 {
    font-size: 45px;
}
._do_pdl2_schdule_r8 {
    width: 100%;
}
._do_pdl2_schdule_crd_inner {
	margin-right: 0;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
._do_pdl2_schdule_crd_inner h3 {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1.39;
}
._do_pdl2_schdule_crd_inner p {
    font-size: 21px;
}
/*---===  PADEL TRIPS STYLE 2 ====---*/


/*---===  RACKET INFO STYLE 1 ====---*/
._do_pdl3_rckt_dtls_img {
    padding: 100px 20px;
    text-align: center;
}
._do_pdl3_rckt_dtls_img_top h3 {
    font-size: 25px;
}
._do_pdl3_dtls_img_itm_all {
    display: block;
}
._do_pdl3_dtls_img_itm {
    width: 100%;
    margin-right: 0px;
}
._do_pdl3_dtls_img_btm {
    height: 540px;
}
/*---===  RACKET INFO STYLE 1 ====---*/


/*---===  RACKET SHOWCASE STYLE 1 ====---*/
._do_pdl_all_racket_sec {
    padding: 100px 20px;
    display: block;
}
._do_pdl_all_rckt_lft {
    width: 100%;
}
._do_pdl_all_rckt_top ul li a {
    font-size: 14px;
    padding: 10px 15px;
}
._do_pdl_all_rckt_btm p {
    font-size: 30px;
    line-height: 1.20;
}
._do_pdl_all_rckt_btm h3 {
    font-size: 44px;
}
._do_pdl_all_rckt_btm_txt p {
    font-size: 19px;
    line-height: 1.5;
}
._do_pdl_all_rckt_btm a {
    margin: 15px auto;
    font-size: 17px;
    width: 100%;
    padding: 17px 31px;
}
._do_pdl_all_rckt_btm{
    text-align: center;
    margin-bottom: 50px;
}
._do_pdl_all_rckt_r8 {
    width: 100%;
    display: block;
}
._do_pdl_all_rckt_clm {
    width: 100%;
	margin-bottom: 20px;
}

._do_pdl_all_rckt_img_sngl{
    margin-right: 0px;
}
._do_pdl_all_rckt_img_sngl,
._do_pdl_all_rckt_img {
    height: auto;
}
._do_pdl_all_rckt_clm,
._do_pdl_all_rckt_clm:nth-child(1),
._do_pdl_all_rckt_clm:nth-child(2),
._do_pdl_all_rckt_clm:nth-child(3),
._do_pdl_all_rckt_clm:nth-child(4) {
    margin-top: 0;
}
/*---===  RACKET SHOWCASE STYLE 1 ====---*/


/*---===   HEADER PADEL STYLE 2 ====---*/
._do_pdl_home_sec {
    padding: 80px 20px;
}
._do_pdl_home_titl h3 {
    font-size: 60px;
}
._do_pdl_home_main {
    display: block;
}
._do_pdl_home_card {
    height: 250px;
    width: 100%;
	margin: 0 0 20px;
}
._do_pdl_home_card:nth-child(even) {
    margin-top: 0px;
}
/*---===   HEADER PADEL STYLE 2 ====---*/


/*---===   RACKET VEDIO STYLE 1 ====---*/
._do_pdl_video_sec {
    display: block;
    padding: 80px 20px;
}
._do_pdl_video_info {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
._do_pdl_video_info h3 {
    line-height: 1.15;
    font-size: 44px;
    margin: 0px 0px 13px 0px;
}
._do_pdl_video_inner {
    padding-right: 0px;
}
._do_pdl_video_info a {
    font-size: 16px;
    margin: 20px auto;
    text-align: center;
	display:block;
    padding: 15px 30px;
}
._do_pdl_video_info p {
    font-size: 25px;
    line-height: 1.20;
}
._do_pdl_video_main {
    width: 100%;
}
._do_pdl_video span {
    font-size: 50px;
}
._do_pdl_video {
    height: 400px;
}
/*---===   RACKET VEDIO STYLE 1 ====---*/


/*---=== SINGLE RACKET STYLE 3 ====---*/
._do_pdl_racket_sec {
    padding: 80px 10px !important;
}
._do_pdl_rckt_crd {
    padding: 20px 20px;
    display: block;
}
._do_pdl_rckt_crd_lft {
    width: 100%;
    padding: 0px 20px !important;
    text-align: center;
    margin-bottom: 40px !important;
}
._do_pdl_rckt_lft_top {
    display: block;
    margin-bottom: 30px;
}
._do_pdl_rckt_lft_top_box {
    margin: 20px auto 0;
    margin-bottom: 12px;
}
._do_pdl_rckt_lft_top_info h3 {
    font-size: 35px;
    margin: 15px 0;
    text-align: center;
}
._do_pdl_rckt_lft_p2 {
    font-size: 24px;
    margin: 0 0 20px;
    text-align: center;
}
._do_pdl_rckt_lft_mdl p {
    font-size: 19px;
    line-height: 1.5;
	padding: 15px;
}
._do_pdl_rckt_lft_mdl a {
    font-size: 16px;
    margin: 0 25px 20px;
    text-align: center;
	display:block;
    padding: 15px 30px;
}
._do_pdl_rckt_lft_btm {
    margin-top: 65px;
}
._do_pdl_rckt_lft_btm ul {
    margin: 0 0 20px 0;
}
._do_pdl_rckt_lft_btm ul li {
    margin: 0 auto;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
}
._do_pdl_rckt_crd_r8 {
    width: 100%;
}
._do_pdl_rckt_lft_p1 {
    margin: 0 auto;
}
/*---=== SINGLE RACKET STYLE 3 ====---*/


/*---=== SPEC DETAILS RACKET STYLE 1 ====---*/
._do_pdl3_rckt_dtls_txt {
    padding: 80px 20px;
}
._do_pdl3_rckt_dtls_top p {
    width: 100%;
    padding: 20px;
    margin: 0;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
}

._do_pdl3_rckt_dtls_txt_sngl_lft {
    width: 100%;
    padding-right: 0;
}
._do_pdl3_rckt_dtls_txt_main {
    display: block;
}
._do_pdl3_rckt_dtls_txt_sngl_r8 {
    width: 100%;
    padding-left: 0px;
    margin-top: 30px;
}
._do_pdl3_rckt_dtls_txt_sngl_lft p, ._do_pdl3_rckt_dtls_txt_sngl_r8 p {
    margin: 0;
    font-size: 19px;
    line-height: 1.8;
    color: #222222;
}
/*---=== SPEC DETAILS RACKET STYLE 1 ====---*/


/*---=== TRIP BANNER STYLE 1 ====---*/
._do_pdl4_bnner_sec {
    height: auto;
    padding: 200px 20px 100px 20px;
}
._do_pdl4_bnner {
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    padding-bottom: 0px;
}
._do_pdl4_bnner h3 {
    margin: 0px 0px 20px 0px;
    font-size: 40px;
    text-align: center;
}
._do_pdl4_bnner p {
    margin: 0px 0px 20px 0px;
    font-size: 19px;
    line-height: 1.45;
    padding-right: 0px;
    text-align: center;
}
._do_pdl4_bnner ul li {
    font-size: 25px;
    line-height: 1.50;
	padding: 0px;
    margin: 0px 0px 20px 0px;
    justify-content: center;
}
._do_pdl4_bnner ul li {
    margin-right: 39px;
}
._do_pdl4_bnner ul li:after {
    right: -19px;
	top: 5px;
    height: 18px;
}
._do_pdl4_bnner ul {
    margin: 0px 0px 50px 0px;
}
._do_pdl4_bnner a {
    font-size: 20px;
    padding: 15px 25px;
	margin: 0 auto;
    display: block;
}
._do_pdl4_dtls_itm {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}
._do_pdl4_dtls{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding:50px 0px 30px 0px;
}
._do_pdl4_dtls_itm p {
    margin: 0px 0px 5px 0px;
    font-size: 13px;
}
._do_pdl4_dtls_itm ul li {
    margin-right: 0px;
    font-size: 19px;
}
/*---=== TRIP BANNER STYLE 1 ====---*/


/*---=== TRIP FLIGHT STYLE 1 ====---*/
._do_pdl4_schdl_sec {
    padding: 80px 20px;
}
._do_pdl4_schdl_card_all {
    display: block;
}
._do_pdl4_schdl_card {
    width: 100%;
}
._do_pdl4_schdl_card_inner {
    margin-right: 0;
    margin-bottom: 20px;
}
/*---=== TRIP FLIGHT STYLE 1 ====---*/


/*---=== TRIP HOTEL STYLE 1 ====---*/
._do_pdl4_fclts_sec {
    height: auto;
    padding: 200px 20px;
	height: 850px;
}
._do_pdl4_fclts_card {
    position: initial;
	padding: 20px;
    right: 0;
    bottom: 70px;
    width: 100%;
}
._do_pdl4_fclts_info h3 {
    margin: 40px 0px 40px 0px;
    font-size: 43px;
    line-height: 1.21;
}
._do_pdl4_fclts_info p {
    margin: 0 auto 20px;
    text-align: center;
	display:block;
}
/*---=== TRIP HOTEL STYLE 1 ====---*/


/*---=== TRIP BANNER STYLE TWO ====---*/
._do_pdl4_fclts_info{
    top: 50px;
    text-align: center;
    padding: 0;	
}
/*---=== TRIP BANNER STYLE TWO ====---*/


/*---=== UPCOMING TRIPS STYLE 1 ====---*/
._do_pdl2_trips {
    padding: 80px 20px;
}

._do_pdl2_trips{
    text-align: center;
}
._do_pdl2_trips_crd_all {
    display: block;
}
._do_pdl2_trips_crd {
    width: 100%;
}
._do_pdl2_trips_crd_inner {
    margin-right: 0px;
    height: 500px;
}
._do_pdl2_trips_crd_dte {
    padding: 8px 15px 5px;
}
._do_pdl2_trips_crd_dte h3 {
    font-size: 31px;
    line-height: 1.19;
    padding: 5px 0px 4px;
}
._do_pdl2_trips_mnth {
    font-size: 18px;
    line-height: 1.29;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
._do_pdl2_trips_day {
    font-size: 18px;
}
._do_pdl2_trips_crd_btm {
    padding: 15px;
	display: block;
}
._do_pdl2_trips_pymnt {
    text-align: center;
    margin: 15px 0 0 0;
}
._do_pdl2_trips_pymnt a {
    font-size: 18px;
}
._do_pdl2_trips_name {
    text-align: center;
}
._do_pdl2_trips_name h3 {
    font-size: 30px;
    text-align: left;
}	
._do_pdl2_trips_name ul {
    justify-content: center;
}
._do_pdl2_trips_name ul li {
    font-size: 18px;
}
/*---=== UPCOMING TRIPS STYLE 1 ====---*/


/*---=== UPCOMING TRIPS STYLE 2 ====---*/
._do_pdl2_trvl_spot_sec {
    padding: 80px 20px;
}
._do_pdl2_trvl_spot_top {
    display: block;
}
._do_pdl2_trvl_spot_top h3 {
    text-align: center;
}
._do_pdl2_trvl_top_lft{
    margin-bottom: 20px;
}

._do_pdl2_trvl_spot_top p {
    margin: 0 auto;
	display: none;
}
._do_pdl2_trvl_top_r8 {
    margin: 0 0 20px;
}
._do_pdl2_trvl_top_r8 ul li {
    padding: 7px 20px;
}
._do_pdl2_trvl_crd:nth-child(3) img {
    border-top-right-radius: 0px;
}
._do_pdl2_trvl_crd:nth-child(4) img {
    border-top-left-radius: 0px;
}
._do_pdl2_trvl_crd:nth-child(1) img {
    border-top-left-radius: 0px;
}
._do_pdl2_trvl_crd:nth-child(6) img {
    border-top-right-radius: 0px;
}
._do_pdl2_trvl_crd:nth-child(4) img {
    border-bottom-left-radius: 0px;
}
._do_pdl2_trvl_crd:nth-child(6) img {
    border-bottom-right-radius: 0px;
}
._do_pdl2_trvl_crd_all {
    display: block;
}
._do_pdl2_trvl_crd_inner {
    margin: 0 0 20px;
    height: 250px;
    position: relative;
}
._do_pdl2_trvl_crd {
    width: 100%;
    margin-bottom: 20px;
}
._do_pdl2_trvl_crd img {
    border-radius: 20px;
}
._do_pdl2_trvl_crd_info_lft h3 {
    font-size: 36px;
}
._do_pdl2_trvl_crd_info_lft a {
    font-size: 18px;
}
/*---=== UPCOMING TRIPS STYLE 2 ====---*/


/*---=== VIEWED RACKETS STYLE 1 ====---*/
._do_pdl3_pepl_view_card_all {
    display: block;
}
._do_pdl3_pepl_view_card {
    width: 100%;
}
._do_pdl3_pepl_view_card_inner {
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 20px;
}
._do_pdl3_pepl_view_info_lft {
    padding: 15px;
    width: 60%;
}
._do_pdl3_pepl_view_info_lft h3 {
    font-size: 24px;
}
._do_pdl3_pepl_view_info_txt2 {
    margin: 5px 0px 0px 0px;
    font-size: 21px;
}
._do_pdl3_pepl_view_info_r8 {
    padding: 0 15px 0 0;
}
._do_pdl3_pepl_view_info_r8 h3 {
    font-size: 26px;
}
._do_pdl3_pepl_view_card_top {
    height: 320px;
    padding: 15px;
}
._do_pdl3_pepl_view_top {
    margin-bottom: 20px;
}
._do_pdl3_pepl_view_top h3 {
    width: 100%;
}	
/*---=== VIEWED RACKETS STYLE 1 ====---*/


/*---=== PADEL RACKET DETAILS STYLE 1 ====---*/
._do_pdl3_rckt_dtls_list ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
._do_pdl3_rckt_dtls_list ul li {
    margin-right: 10px;
    margin-left: 10px;
}
._do_pdl3_rckt_dtls_list ul li {
    margin-right: 13px;
    margin-left: 13px;
    margin-bottom: 30px;
}
/*---=== PADEL RACKET DETAILS STYLE 1 ====---*/

    /* ----=====  TRIP COACH STYLE ====--- */
    ._do_pdl4_coach_top p {
        margin:0;
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    ._do_pdl4_coach_main_all{
        margin-top: 20px;
    }
    ._do_pdl4_coach {
        padding: 100px 20px 80px 20px;
    }
    ._do_pdl4_coach_lft_main {
        max-width: 100%;
        padding-right: 0px;
        flex: 0 0 100%;
		margin: 0 0 20px;
    }
    ._do_pdl4_coach_lft {
        width: 100%;
        padding: 20px;
        display: -ms-flexbox;
        display: block;
        margin-right: 0px;
    }
    ._do_pdl4_coach_lft_img {
        margin: 0 auto;
        width: 100%;
		margin-right: 0;
    }
	._do_pdl4_coach_lft_img img {
		border-radius: 20px 20px 0 0;
	}
    ._do_pdl4_coach_dtls_top ul {
		padding: 20px;
		margin: 0;
		display: block;
    }
    ._do_pdl4_coach_dtls_top ul li {
		margin: 0 0 20px 0;
		display: block;
		width: 100%;
		float: left;
    }
    ._do_pdl4_coach_dtls_top {
		padding-left: 0;
		margin-top: 0;
    }

    ._do_pdl4_coach_dtls_txt {
        padding: 0 20px 20px;
    }
    ._do_pdl4_coach_dtls_itm {
        padding-left: 70px;
    }
	._do_pdl4_coach_dtls_top p {
		margin: 20px auto;
		text-align: center;
		display:block;
	}
	._do_pdl4_coach ._next_pre._pre,     
	._do_pdl4_coach ._next_pre._next {
		display: none;
	}
	
    /* ----=====  TRIP COACH STYLE ====--- */


    /* ----=====  SPEC RACKET STYLE 1 ====--- */
    ._do_pdl3_rckt_dtls_top p {
        font-size: 26px;
    }
    ._do_pdl3_rckt_dtls {
        padding: 40px 20px;
    }
    ._do_pdl3_rckt_dtls_top {
        margin: 0 0 20px;
    }
    ._do_pdl3_rckt_dtls_inner {
        padding: 30px 20px;
		border-radius: 15px;
    }
    ._do_pdl3_rckt_dtls ul {
		padding: 0;
		margin: 0;
		float: left;
		width: 100%;
		display: block;
    }
    ._do_pdl3_rckt_dtls ul li {
		width: 100%;
		padding: 20px;
		background: #000;
		margin: 0 0 20px;
		display: block;
		text-align: center;
		border-radius: 20px;
    }
    ._do_pdl3_rckt_dtls_box {
		text-align: center;
		padding-right: 0;
		height: 100%;
		padding-bottom: 0;
    }
    ._do_pdl3_rckt_dtls ul li h3 {
        font-size: 27px;
    }
    ._do_pdl3_rckt_dtls ul li p {
        margin: 0;
        font-size: 19px;
    }
    /* ----=====  SPEC RACKET STYLE 1 ====--- */

	._do_pdl2_trips_top h3,
	._do_pdl2_trvl_spot_top h3,
	._do_pdl_nws_titl h3,
	._do_pdl_trvl_lft h3,
	._do_pdl2_home_info h3,
	._do_pdl4_schdl_card_day p,
	._do_pdl4_coach_dtls_top h3 {
		font-size: 30px;
		text-align: center;
	}
}



@media (min-width: 901px) and (max-width: 1025px)
{
	._do_pdl3_pepl_view_card {
		width: 50%;
	}
	
	._do_pdl3_pepl_view_info_r8 h3 {
		font-size: 25px;
	}
	
	._do_pdl3_pepl_view_info_txt2 {
		font-size: 23px;
	}
	
}