@media (min-width: 901px) and (max-width: 1025px)
{
	._event1_bnr_card {
		height: auto;
		max-width: 950px;
		width: 100%;
		padding: 30px 85px 0 85px;
	}
	
	._event1_bnr_top {
		left: 85px;
	}
	
	._news_section {
		padding: 45px 85px;
	}
	
	._shop_crd {
		height: auto;
		display: block;
		padding: 20px 0 0;
	}
	.mobileOnly{
		display: none;
	}
	._shop_crd_btm {
		position: relative;
		width: 100%;
		left: auto;
		right: auto;
		clear: both;
		float: left;
		padding: 10px;
		margin: 50px auto 0;
		text-align: center;
	}
	
	._shop_sec_top {
		display: inline-block;
	}
	
	h3._shop_top_h3,
	a._shop_top_a {
		width: 100%;
		float: left;
		text-align: center;
		margin: 10px 0;
	}
	
	._shop_crd_r8_btm_h3 {
		top: -239px;
		right: 0px;
		left: auto;
	}
	
	._trnmnt_txt {
		padding: 85px;
	}
}

@media (max-width: 1025px)
{
	._event1_crd_btm_img img {
			width: 100px;
	}
}