/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Mobile*/
@media (max-width: 900px)
{	
	/* Header Style 1                           _1header */
	/* Header Style 2                           _banners */
	/* Calendar Style 2                  _evnt2_pgrm_sec */
	/* Calendar Style 3                          _trmnt3 */
	/* Sponsor Style 1                      _sponser_sec */
	/* Calendar Style 1                  _clndr_main_sec */
	/* Calendar Style 4                  _evnt5_main_sec */
	/* Today's Division's Matches          _mtch_day_sec */


	/* General  */

	h1 {
	font-size: 2rem ;
	}

	h2 {
	font-size: 1.75rem ;
	}
	
	footer h6.elementor-post__title {
	text-align: center;
	} 

	.elementor-location-footer p {
	text-align:center;
	}


	.elementor-610 .elementor-element.elementor-element-1b36c7a > .elementor-element-populated {
	margin: 0;
	}

	.elementor-column-gap-narrow>.elementor-row>.elementor-column>.elementor-element-populated,
	.elementor-610 .elementor-element.elementor-element-7cf520a5 > .elementor-element-populated,
	.elementor-610 .elementor-element.elementor-element-19f1173d > .elementor-widget-container {
	padding: 0;
	}

	._event1_bnr_titl_h3,
	._shop_top_h3,
	._shop_top_a
	._evnt2_trnr_lft_h3,
	._trnmnt_txt2_lft_h3
	._sponser_sec_h4,
	h3._shop2_r8_h3,
	h2._price_title,
	._evnt1_pgrm_schdl_titl_h3,
	p.text-center.textBoxHeading,
	
	._mtng_info_r8_h3 {
	font-size: 2rem ;
	line-height: 35px ;
	font-weight:normal;
	}	
  
	._price_all, 
	._price_main, 
	._price_card, 
	._shop_sec, 
	._shop_crd_all, 
	._shop_crd, 
	._trnmnt_txt2_sec, 
	._trnmnt_txt2_lft, 
	._trnmnt_txt2_r8_top, 
	ul._trnmnt_txt2_r8_ul, 
	p._trnmnt_txt2_r8_p1, 
	._evnt7_section, 
	._evnt7_mnu, 
	._evnt7_mnu_ul, 
	._evnt7_main_sec, 
	._evnt7_main_lft, 
	._evnt7_main_lft, 
	._evnt7_lft_crd, 
	._evnt7_main_r8, 
	._evnt7_r8_top, 
	._evnt7_r8_top_lft, 
	._evnt7_r8_top_r8, 
	._evnt7_r8_rslt, 
	._evnt7_r8_rslt_ul, 
	._evnt7_r8_crd_all, 
	._evnt1_tstimnl_sec, 
	._evnt1_tstimnl_crd_all, 
	._1header_content_cards, 
	._evnt2_trnr_r8, 
	._evnt2_trnr_sec, 
	._evnt2_trnr_itm, 
	._evnt2_trnr_lft, 
	._2banner_card, 
	._trnmnt_info, 
	._mtng_info_sec, 
	._mtng_info_lft, 
	._mtng_info_r8,  
	._vdo_banner_sec, 
	._vdo_banner_main, 
	._vdo_r8, 
	._shop2_sec, 
	._shop2_lft, 
	._shop2_r8 p, 
	._shop2_r8,  
	._nws2_crd_sec,    
	._evnt2_all_pgrm_sec, 
	._evnt2_pgrm_itm_crd_all a, 
	._sponser_sec, ._shop_sec_top,
	._anouncmnt_sec,
	._anouncmnt_sec_main,
	._anouncmnt_lft,
	._anouncmnt_r8,
	._trnmnt2_sec,
	._evnt5_crd2_btm_lst2,
	._clndr_top_sec,
	._clndr_main_sec,
	._clndr_card_one, 
	._clndr_card_itm,
	._clndr2_main_sec,
	._evnt2_pgrm_sec,
	._padel_6,
	._padel_6_sngl_img,
	._pdl_plyr_section,
	._pdl_plyr_crd,
	._bnr_wrld_section,
	._evnt2_pgrm_sec,
	._bnr_wrld_section,
	._pdl_man_sec,
	._pdl_man_sngl,
	._matchi1_section,
	._matchi1_panel,
	._ply_tim_section,
	._ply_tim_crd_all,
	._ply_tim_crd,
	._do_pdl_racket_sec,
	._do_pdl_rckt_crd,
	._do_pdl_rckt_crd_lft,
	._do_pdl_rckt_crd_r8,
	._do_pdl_rckt_crd_img,
	._do_pdl_rckt_lft_top,
	._do_pdl_rckt_lft_mdl,
	._do_pdl_rckt_lft_btm,
	._do_pdl_rckt_lft_btm ul	{
		float: left;
		display: block;
		width: 100% !important;
		height: auto;
		margin: 0;
		position: relative;
		padding: 0;
		max-width: 100%;
		max-height: auto;
	}	
		 
	._price_all, 
	._shop_sec, 
	._trnmnt_txt2_sec, 
	._evnt7_r8_top_lft, 
	._evnt7_mnu, 
	._evnt1_tstimnl_sec, 
	._1header_content_cards, 
	._evnt2_trnr_r8, 
	._2banner_card, 
	._trnmnt_info, 
	._mtng_info_r8, 
	._vdo_banner_sec, 
	._shop2_sec, 
	._evnt2_all_pgrm_sec, 
	 
	._nws2_crd_all_main, 
	._sponser_sec,
	._anouncmnt_sec,
	._clndr_top_sec,
	._clndr_main_sec,
	._padel_6,
	._pdl_plyr_section,
	._evnt2_pgrm_sec,
	._pdl_man_sngl,
	._matchi1_section,
	._ply_tim_section,
	._do_pdl_racket_sec,
	._mtng_info_r8	{
		padding: 20px;
	}
	
	._all_rckt_clr_2 {
		margin: 0;
	}
	
	._rckt_size_img {
		display: block;
		margin: 0 auto;
	}

	/* Header Style 3 ------------------------- _2banner */
	._2banner {
		height:auto;
	}

	._2banner_card_dte {
		text-align: center;
		margin: 0 auto;
	}

	._2banner_card_btm_ul li {
		margin-right: 0;
		width: 50%;
		float: left;
	}

	a._2banner_card_btn._s_btn1,
	a._2banner_card_btn._s_btn2 {
		width: 100%;
	}

	._2banner_card_btm_txt {
		text-align: center;
	}
	/* Header Style 3 ------------------------- _2banner */
	

	/* Header Style 4 ------------------------- _event1_banner_sec */

	/* Header Style 4 ------------------------- _event1_banner_sec */
	

	/* Author Style 1 ------------------------- _evnt2_trnr_sec */
	._evnt2_trnr_lft {
		margin-top:25px;
	}

	._evnt2_trnr_itm_img {
		margin: 15px auto;
		/*width:100%;
		height:auto;*/
	}

	._evnt2_trnr_itm_h3 {
		font-size: 23px;
	}

	._evnt2_trnr_itm_p {
		font-size: 17px ;
	}

	._evnt2_trnr_itm_info ._normaltxt {
		font-size: 17px ;
	}

	._evnt2_trnr_itm {
		margin-bottom: 25px;
	}
	/* Author Style 1 ------------------------- _evnt2_trnr_sec */

	/* About Style 1  ------------------------- _trnmnt_txt2_sec */
	._trnmnt_txt2_r8{
		text-align: center;
	}
	h3._trnmnt_txt2_r8_h3 {
		float: left;
		width: 100%;
	}

	ul._trnmnt_txt2_r8_ul li {
		width: 100%;
		float: left;
		display: block;
		text-align:center;
	}

	p._trnmnt_txt2_r8_p1 {
		text-align: center;
		margin-bottom:15px;
	}

	._trnmnt_txt2_lft_h3 {
		margin-bottom:15px;
		text-align: center;
	}

	h3._trnmnt_txt2_r8_h3 {
		font-size: 18px;
	}
	/* About Style 1  ------------------------- _trnmnt_txt2_sec */

	._news_card_dtls_h3 {
		font-size: 17px;
		line-height: 23px;
		padding:0;
	}
	
	._news_card_dtls_h4{
		font-size: 28px;
		font-weight: 900;
		line-height: 120%;
	}


	/* Course Style 1 ------------------------- _evnt2_all_pgrm_sec */
	._evnt2_pgrm_itm_crd {
		margin-right: 0;
		position: relative;
		height: 250px;
		margin-bottom: 20px;
	}

	._evnt2_pgrm_itm_ul li:last-child {
		width: 100%;
	}

	ul._evnt2_pgrm_itm_ul p {
		line-height: 120%;
		font-size: 20px;
		text-align: center;
		margin: 0;
	}

	._evnt2_pgrm_crd_two {
		right: 14px;
		z-index: 1;
	}
	/* Course Style 1 ------------------------- _evnt2_all_pgrm_sec */

	/* Image Section Style 1 ------------------ _mtng_info_sec */
	._mtng_info_r8 {
		margin-top: 0 !important;
		margin-left: 0 !important;
		padding: 20px !important;	
	}
	/* Image Section Style 1 ------------------ _mtng_info_sec */


	/* Quote Style 1 -------------------------- _evnt1_tstimnl_sec */
	._evnt1_tstimnl_crd {
		height: auto;
		width: 100%;
		float: left;
		display: block;
		margin: 0 0 20px 0;
	}

	._evnt1_tstimnl_crd_btm {
		padding: 15px 15px 10px 35px;
		position: relative;
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	/* Quote Style 1 -------------------------- _evnt1_tstimnl_sec */

	/* Product Style 1 ------------------------ _shop2_sec */
	._shop2_r8 p, 
	._shop2_r8_p1,
	._shop2_r8 {
		text-align: center;
		width: 100% ;
	}

	h3._shop2_r8_h3 {
		line-height: normal;
		padding: 10px 0px;
		display: block;
		float: left;
		width: 100%;
	}
	._shop_top_h3{
		margin-bottom: 10px;
	}

	h3._shop2_r8_price {
		display: inline-block;
		margin-top: 15px;
	}
	/* Product Style 1 ------------------------ _shop2_sec */

	/* Interview Style 1 ---------------------- _intrvw_sec */
	._intrvw_crd {
		margin: 0 0 0px -20px;
		position: relative;
		width: 100%;
	}

	._intrvw_crd_vdo img {
		margin: 0 0 0 20px;
	}

	._intrvw_crd_nme_h3 {
		margin: 0px 20px 0 0;
		font-size: 30px;
	}

	._intrvw_crd_btm {
		margin-top: 55px;
		margin-left: 0;
	}
	.mobileOnly{
		display: none;
	}
	._intrvw_crd_btm_p {
		text-align: center;
	}
	/* Interview Style 1 ---------------------- _intrvw_sec */

	/* Shop Style 1 --------------------------- _shop_sec */
	._shop_crd._shop_crd_clr1 {
		margin-bottom: 20px;
	}

	._shop_crd_clr1 ._shop_crd_r8_btm_h3 {
		top:auto ;
		left:auto ;
		bottom:210px ;
		right:auto ;
		position:relative;
	}

	a._shop_top_a {
		font-size: 15px;
		text-align: center;
		width:auto;
	}
	/* Shop Style 1 --------------------------- _shop_sec */

	/* Video Header 1 ------------------------- _vdo_banner_sec */
	._vdo_lft_info,
	._vdo_lft_info_ul {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	/* Video Header 1 ------------------------- _vdo_banner_sec */

	/* Division Rank -------------------------- _evnt7_section */
	._evnt7_r8_crd_main {
		width: 100%;
		margin:0;
	}

	._evnt7_r8_top_img {
		width: 50%;
		padding: 0;
		margin: 0;
		float: left;
	}

	._evnt7_r8_top_rnk {
		text-align: center;
		margin: 0;
		padding: 2px 5px;
		margin: 10px auto;
	}

	._evnt7_r8_rslt_ul li {
		padding: 0 20px;
		text-align: left;
	}

	._evnt7_r8_top_info {
		text-align: center;
		margin-bottom: 15px;
	}

	._evnt7_mnu {
		padding: 0 20px 30px;
	}

	._evnt7_titl {
		margin: 20px 0;
	}

	ul._evnt7_mnu_ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		overflow: scroll;
		margin-bottom: 0;
	}
	/* Division Rank -------------------------- _evnt7_section */

	.newDiv {
		margin-right: 0;
	}

	/* Pricing -------------------------------- _price */
	._price_card {
		margin-bottom: 20px;
	}  

	._price {
		padding: 0px 0 0;
		display: block;
		float: left;
		width: 100%;
	}

	._price_card_left,
	._price_card_right{
		width: 100%;
		text-align: center;
		display: block;
		height: auto;
	}

	._price_card_title {
		font-size: 25px;
		margin: 15px auto;
		line-height: 110%;
		font-weight: bold;
	}

	._price_card_time {
		font-size: 20px;
	}
	/* Pricing -------------------------------- _price */

	/* Event Timeline 1 ----------------------- _evnt1_pgrm_schdl_sec */
	._evnt1_pgrm_schdl_lft,
	._evnt1_pgrm_schdl_crd {
		width: 100%;
		padding: 0;
		margin:0;
	}
	/* Event Timeline 1 ----------------------- _evnt1_pgrm_schdl_sec */

	/* Text Box Style 1 ----------------------- _trnmnt_txt */
	._trnmnt_info_itm {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}

	._trnmnt_info_itm {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
		padding: 0px 0 10px;
	}

	._trnmnt_info_itm_txt {
		margin-bottom: 10px;
		font-size: 20px;
		line-height: 18px;
		margin-top: 0px;
		font-weight: bold;
	}

	._trnmnt_info_itm_h4 {
		line-height: 18px;
		margin: 0px;
		font-size: 18px;
	}
	
	._trnmnt_txt {
		padding: 20px !important;
	}

	._trnmnt_txt_lft {
		margin-left:0;
		margin-right:0;		
	}
	/* Text Box Style 1 ----------------------- _trnmnt_txt */
	
	/* TWO IMAGE STYLE 1 ---------------------- _pdl_man_sec */
	._pdl_man_sngl {
		padding: 20px 20px;
	}

	._pdl_man_sngl:first-child {
		padding-bottom: 0;
	}
	/* TWO IMAGE STYLE 1 ---------------------- _pdl_man_sec */
	
	/* MATCHi BOOKING ONE --------------------- _matchi1_section */	
	._matchi1_panel {
		margin-bottom: 0;
		padding: 0;
	}
	/* MATCHi BOOKING ONE --------------------- _matchi1_section */
	
	/* ANNOUNCEMENT STYLE 1 ------------------- _anouncmnt_sec */	
	._anouncmnt_lft {
		margin-bottom:20px;		
	}
	/* ANNOUNCEMENT STYLE 1 ------------------- _anouncmnt_sec */

	/* BRACKET UPCOMING TOURNAMENTS ----------- _trnmnt2_sec */
	._banner_arrow_lft,
	._banner_arrow_r8 {
		top: 290px;
	}

	._trnmnt2_banner_btm_ul li {
	    line-height: 130%;
	    margin-right: 3px;
	    margin-left: 3px;
	    font-size: 14px;
	    margin-bottom: 20px;
	}
	._trnmnt2_banner_btm_ul li:last-child {
	    margin-right: 3px;
	}
	/* BRACKET UPCOMING TOURNAMENTS ----------- _trnmnt2_sec */
	
	/* HEADER STYLE 5 ------------------------- _bnr_wrld_section */
	._bnr_wrld_top {
	    left: 20px;
	    right: 20px
	}
	/* HEADER STYLE 5 ------------------------- _bnr_wrld_section */
	
	/* IMAGE ROW STYLE 1 ---------------------- _pdl_plyr_section image_row_section */
	._pdl_plyr_crd {
		margin-bottom:20px;
	}	
	/* IMAGE ROW STYLE 1 ---------------------- _pdl_plyr_section image_row_section */
	
	
	/* SIX IMAGE STYLE 1 ---------------------- _padel_6 */
	._padel_6_sngl_img {
		margin-bottom:20px;
	}
	/* SIX IMAGE STYLE 1 ---------------------- _padel_6 */
	
	
	/* Must be found */
	.nws3_sec_top h1 {
		font-size: 30px;
		line-height: 130%;
	}
	
	
	/* AMERICANO BOOKING ONE ------------------ _pdl_frm_sec */
	._pdl_frm2_sec {
	    display: block;
     }
     ._pdl_frm2_lft {
	    width: 100%;
     }
     ._pdl_frm2_lft_crd_all{
     	display: flex;
     }
     ._pdl_frm2_lft_main {
	    padding: 40px 20px 40px 30px;
	    width: 100%;
	}
	._pdl_frm2_lft_info h2 {
	    font-size: 23px;
	}
	._pdl_frm2_lft_info ul li {
	    font-size: 13px;
	}
	._pdl_frm2_lft_crd {
	    padding: 8px 9px;
	}
	._pdl_frm2_lft_crd h4 {
	    font-size: 19px;
	}
	._pdl_frm2_lft_crd_mnth {
	    font-size: 12px;
	}
	._pdl_frm2_lft_crd_day {
	    font-size: 13px;
	}
	._pdl_frm2_r8 {
	    width: 100%;
	    padding: 40px 10px 30px 10px;
	}
	._pdl_frm2_r8_main {
	    width: 100%;
	    margin-top: 30px;
	}
	/* AMERICANO BOOKING ONE ------------------ _pdl_frm_sec */
	


	/* COURT STYLE 1 -------------------------- _do_pdl_event_sec */
	
	/* COURT STYLE 1 -------------------------- _do_pdl_event_sec */
	
	

	/* FOUR IMAGE STYLE 1 --------------------- _pdl_plyr_section */
	
	/* FOUR IMAGE STYLE 1 --------------------- _pdl_plyr_section */
	
	
	

	/* COURSE STYLE 1 ------------------------- _evnt2_all_pgrm_sec */
	
	/* COURSE STYLE 1 ------------------------- _evnt2_all_pgrm_sec */
	
	

	
	/* MATCHi BOOKING TWO --------------------- _ply_tim_section */
	
	/* MATCHi BOOKING TWO --------------------- _ply_tim_section */


	/* ----===== AUTHOR STYLE 1 ====--- */
	._evnt2_trnr_sec{
		padding-top: 30px;
	}
	._evnt2_trnr_lft_h3 {
	    text-align: center;	    
	}
	/* ----===== AUTHOR STYLE 1 ====--- */

	/* ----===== COURT STYLE 1 ====--- */
   ._do_pdl_event_crd {
	    width: 100%;
    }
	._do_pdl_event_sec {
	    padding: 30px 20px 20px 20px;
	    display: block;
    }
    ._do_pdl_event_crd_btm {
	    padding: 14px 13px 13px 31px;
	}
	._do_pdl_event_crd_btm_lft h3 {
	    font-size: 25px;
	    line-height: 30px;
	}
	._do_pdl_event_crd_btm_lft p {
	    font-size: 24px;
	    line-height: 27px;
	}
	/* ----===== COURT STYLE 1 ====--- */


	/* ----===== TEAM SIGNUP ====--- */
	._pdl_frm2_sec {
	   height: auto !important;
	}
	.div_form {
	    width: 100%;
	    padding: 20px 20px 20px 20px;
	}
	/* ----===== TEAM SIGNUP ====--- */


	/* ----===== EVENT LANDING HEADER ====--- */
	._event4_banner_sec{
		height: auto;
		padding: 200px 0px;
	}
	._event4_bnr_card_main {
	    width: 100%;
	}
	._event4_bnr_card {
	    padding-left: 20px;
	    padding-top: 30px;
	    top: auto;
	    width: auto;
	    height: auto;
	    padding-right: 20px;
	}
	._event4_bnr_titl_ul li {
	    font-size: 13px;
	}
	._event4_bnr_titl_h3 {
	    font-size: 28px;
	    padding-top: 20px;
	    line-height: 35px;
	    padding-bottom: 8px;
	}
	._event4_bnr_read {
	    position: initial;
	    right: auto;
	    top: auto;
	    text-align: center;
	    margin-top: 40px;
	}
	._event4_bnr_titl_ul{
		flex-wrap: wrap;
	}
	._event4_bnr_titl_ul{
		margin: 0px 0px 15px 0px;
	}
	._event4_bnr_btm_ul {
	    padding: 13px 10px 13px 0px;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}
	._event4_bnr_btm_ul li {
	    font-size: 14px;
	    margin-right: 5px;
	}
    ._event4_bnr_btm_ul li:last-child {
	    margin-right: 0px;
	}
	._event4_crd_btm_txt_p {
	    font-size: 15px;
	    padding-right: 0px;
   }
	 ._bnr_atnd {
	    width: 38px;
	    height: 38px;
	}
	._event4_bnr_read a {
	    font-size: 15px;
	    display: inline-block;
	    padding: 6px 10px;
	}
	._event4_bnr_top_dte_ul li {
	    padding: 3px 12px;
	    font-size: 20px;
	}
	/* ----===== EVENT LANDING HEADER ====--- */


	/* ----=====  HEADER STYLE 5 ====--- */
	._bnr_wrld_top p {
	    font-size: 18px;
	    line-height: 36px;
	}
	._bnr_wrld_top h3 {
	    font-size: 30px;
	    line-height: 35px;
	}
	._bnr_wrld_info {
	    left: 20px;  
	}
	/* ----=====  HEADER STYLE 5 ====--- */


	/* ----=====  HEADER STYLE 4 ====--- */
	._event1_banner_sec {
	    min-height: auto;
	    padding: 300px 0px 130px 0px;
	    height: auto;
	}
	._event1_bnr_top {
	    padding: 7px 15px;
	    top: -22px;
	    left: 30px;
	    height: auto;
	}
	._event1_bnr_top_p {
	    margin: 0;
	    font-size: 20px;
	    line-height: 23px;
	}
	._event1_bnr_card {
	    background-color: #ecececf2;
	    padding-left: 20px;
	    top: auto;
	    padding-right: 15px;
	    padding-top: 20px;
	    width: 100%;
	    height: auto;
	}
	._event1_bnr_titl_h3 {
	    margin: 0px 0px 10px 0px;
	    font-size: 20px;
	    line-height: 29px;
	    padding-top: 15px;
	    font-weight: 600;
	}
	._event1_bnr_titl_p {
	    margin: 0;
	    line-height: 1.5;
	}
	._event1_bnr_img_all {
	    padding-bottom: 18px;
	    padding-top: 20px;
	}
	._event1_crd_btm_txt_p {
	    font-size: 16px;
	    line-height: 18px;
	}
	._event1_crd_btm_txt_p span {
	    margin: 5px 0px 0px 0px;
	    font-size: 12px;
	    line-height: 18px;
	    padding: 3px 8px;
	}
	._event1_crd_btm_txt_r8 {
	    margin-left: 10px;
	}
	._event1_crd_btm_txt_r8_p {
	    margin: 0px 0px 0px 0px;
	    font-size: 16px;
	}
	._event1_bnr_btm_ul {
	    display: block;
	    padding: 15px 0px;
	}
	._event1_bnr_btm_ul li {
	    line-height: 26px;
	    font-size: 17px;
	    width: 100%;
	}
	._event1_bnr_read {
	    position: relative;
	    right: auto;
	    top: 20px;
	    display: inline-block;
	    margin: 0px auto 0;
	    text-align: center;
	    width: 100%;
	}
	._event1_bnr_read a {
	    padding: 12px 15px;
	    font-size: 20px;
	    display: inline-block;
	}
	/* ----=====  HEADER STYLE 4 ====--- */


	/* ----=====  HEADER STYLE 3 ====--- */
	._2banner_card {
	    background: #2b436efa;
	    padding: 30px 30px;
	    width: auto;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    height: -webkit-max-content;
	    height: -moz-max-content;
	    height: max-content;
	    margin-left: 60px;
	    margin-right: 60px;
	    margin-bottom: 0px;
	    position: inherit;
	}
	._2banner_card_btm {
	    margin-top: 20px;
	}
	._2banner_card_mdl_h3 {
		margin: 20px 0px 20px;
		font-size: 29px;
		line-height: 35px;
	}
	._trnmnt_info {
	    display: block;
	}
	._2banner {        
	    padding: 100px 0px;
	}
	.forehand_button {
    text-align: center;
    margin-top: 10px;
   }
	/* ----=====  HEADER STYLE 3 ====--- */


	/* ----=====  HEADER STYLE 2 ====--- */
	._1header_content_card_lasts {
	    left: 20px;
	}
	._1header_content_card_titles {
	    font-size: 25px;
	    line-height: 32px;
	    margin: 10px 0px 0px 0px;
	}
	._1header_content_card_texts {
	    font-size: 14px;
	    margin: 15px 0 15px;       
	    line-height: 18px;
	}
	/* ----=====  HEADER STYLE 2 ====--- */


	/* ----=====  IMAGE ROW STYLE 1 ====--- */
	.image_col_3 {
		position: relative;
		padding: 0;
		max-width: 100%;
		flex: 0;
	}

	/* ----=====  IMAGE ROW STYLE 1 ====--- */


	/* ----===== IMAGE SECTION STYLE 1 ====--- */
	._mtng_info_sec {
	    display: block;
	}
	._mtng_info_r8 {
	    margin-top: 0 !important;
	    margin-left: 0 !important;
	    padding: 20px !important;
	}
	/* ----===== IMAGE SECTION STYLE 1 ====--- */


	/* ----===== PRICING ====--- */
	._price_card {
	    display: block;
	}
	/* ----===== PRICING ====--- */


	/* ----===== PRODUCT STYLE 1 ====--- */
	._shop2_sec {
	    display: block; 
	}
	._shop2_lft {
	    width: 100%;
	    margin-bottom: 40px;
	    height: auto;
	    padding-left: 0px;
	}
	._shop2_r8_h3{
		font-size: 30px !important;
	    line-height: 35px;
	    font-weight: 600 !important;
	}
	._shop2_r8_price {
	    font-size: 28px;
	    line-height: 33px;	 
	    padding: 11px 29px;
	}
	._shop2_r8_p3:after {
	   display: none;
	}
	/* ----===== PRODUCT STYLE 1 ====--- */


	/* ----===== SHOP STYLE 1 ====--- */
	._shop_top_a{
		float: initial;
	}
	._shop_sec_top{
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	._shop_crd_all {
	    display: block;
	}
	._shop_crd_btm {
	    bottom: 20px;
	    left: 20px;
	}
	._shop_crd {
	    width: 100%;
	    margin-right: 0px;
	    height: 450px !important;
	    display: -webkit-box !important;
	    display: -ms-flexbox !important;
	    display: flex !important;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	._shop_crd_btm_h3 {
		margin: 0px;
	    font-size: 29px;
	}
	._shop_crd_btm_p {
	    font-size: 19px;
	}
	._shop_crd_r8_btm_h3 {
	    margin: 0;
	    font-size: 22px;
	    line-height: 34px;
	    padding: 3px 12px;
	    bottom: auto !important;
	}
	/* ----===== SHOP STYLE 1 ====--- */


	/* ----===== SIX IMAGE STYLE 1 ====--- */
	._padel_6 {
	    display: block;
	    padding: 50px 0px;
	}
	._padel_6_sngl_img {
	    width: 100%;
	    margin-bottom: 15px;
	    margin-right: 0px;
	    height: 206px;
	}
	/* ----===== SIX IMAGE STYLE 1 ====--- */


	/* ----===== SPONSOR STYLE 1 ====--- */
	._sponser_sec_ul {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}
	._sponser_sec_ul li {
	    margin-right: 25px;
	    margin-bottom: 20px;
	    margin-left: 25px;
	}
	/* ----===== SPONSOR STYLE 1 ====--- */


	/* ----===== TEXT BOX STYLE 1 ====--- */
	._trnmnt_txt {
	    padding: 20px !important;
	}
	._trnmnt_txt_lft .textBoxHeading {
    	font-size: 27px !important;
    	line-height: 1.50 !important;
    }
	/* ----===== TEXT BOX STYLE 1 ====--- */


	/* ----=====  TWO IMAGE STYLE 1 ====--- */
	._pdl_man_sec{
		display: block;
	}
	._pdl_man_sngl {
	    margin-right: 0px;
	    margin-bottom: 20px;
	    width: 100%;
	    height: 265PX;
	}
	._pdl_man_sngl_info p {
	    line-height: 26px;
	    font-size: 19px;
	}
	/* ----=====  TWO IMAGE STYLE 1 ====--- */


	/* ----=====  VIDEO HEADER 1 ====--- */
	._vdo_banner_sec {
	    float: initial !important;
	    padding-top: 50px;
	}
	._vdo_banner_main {
	    display: block;
	    height: auto;
	    float: initial;
	}
	._vdo_lft_info{
		margin-bottom: 30px;
	}
	._vdo_lft_h3 {
	    font-size: 34px;
	}
	._vdo_lft_info_ul{
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		margin: 0 auto;
	}
	._vdo_r8 {
	    margin-bottom: 30px !important;
	}
	._vdo_r8 span {
	    width: 50px;
	    height: 50px;
	    font-size: 19px;
	}
	._vdo_btm_lst {
	    display: block;
	    overflow: inherit;
	}
	._vdo_btm_lst_lft {
	    padding-left:10px;
	}
	._vdo_btm_lst_r8_ul {
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding-left: 10px;
	}
	._vdo_btm_lst_r8_ul li {
	    width: 100px;
	    height: 100px;
	    margin-right: 6px;
	    margin-bottom: 6px;
	}
		/* ----=====  VIDEO HEADER 1 ====--- */


	/* ----===== BRACKET UPCOMING TOURNAMENT ====--- */
	._banner_arrow_lft {
	    left: 28px;
	}
	._trnmnt2_banner_mdl {
	    padding: 10px 10px;
	    width: 180px;
	    height: 80px;
	}
	._trnmnt2_banner {
	    flex: 0 0 100%;
	}
	._trnmnt2_bnr_dte_txt1 {
	    line-height: 20px;
	    font-size: 16px;
	}
	._trnmnt2_bnr_dte_txt2 {
	    font-size: 33px;
	    line-height: 38px;
	}
	._trnmnt2_bnr_dte_txt3 {
	    font-size: 20px;
	}
	._trnmnt2_bnr_dte_tym {
	    font-size: 17px;
	}
	._trnmnt2_banner_btm {
	    left: 13px;
	    right: 10px;
	    bottom: 83px;
	}
	._trnmnt2_banner_btm_ul li {
	    margin-bottom: 10px;
	    line-height: 1.30;
	    width: max-content;
	    margin-right: 20px;
	}
	._trnmnt2_banner_btm_ul li:before {
	    right: -13px;
	    height: 20px;
	}
	._trnmnt2_bnr_logo_top {
	    width: 85px;
	}
	._trnmnt2_bnr_tab p {
	    font-size: 18px;
	    padding: 6px 14px 7px;
	}
	._trnmnt2_banner_mdl_p2 {
	    line-height: 32px;
	    font-size: 26px;
	}
	._trnmnt2_bnr_logo_btm ul {
	    flex-wrap: wrap;
	    justify-content: center;
	}
	._trnmnt2_bnr_logo_btm ul li {
	    margin-right: 10px;
	    width: 50px;
	}
	._trnmnt2_banner_mdl_p1 {
	    font-size: 20px;
	}
	._trnmnt2_sec_p {
	    margin: 20px 0px 15px 0px;
	}
	/* ----===== BRACKET UPCOMING TOURNAMENT ====--- */


	/* ----===== CALENDAR STYLE 4 ====--- */
	._evnt5_main_sec {
       padding: 80px 20px 0px 20px;
	}
	._evnt5_card2_all{
		width: auto;
	}
	._evnt5_main_sec_h3 {            
	    padding: 0px 0px 20px 0px;
	    font-size: 39px;
	} 
	._devider:after {
	    top: 0px;
	}                                         
	._evnt5_card2 {
	    display: block;
	    padding-bottom: 20px;
	    padding-top: 0px;                 
	    margin-bottom: 20px;
	}
	._evnt5_card2_lft,
	._evnt5_card2_r8	{
	    width: 100%;
	    margin-right: 0px;
	    margin-bottom: 20px;
	}
	._evnt5_card2_r8_btm {
	    display: block;
	}
	.signup_btn {
	    margin-left: 0px;
	}
	._evnt5_crd2_btm_txt:last-child {
	    margin-right: 0px;
	    width: 100%;
	    text-align: center;
	    display: initial;
	    justify-content: normal;
	}
	._evnt5_card2_r8_titl_p {
	    padding-right: 0px;
	    font-size: 25px;
	}
	._evnt5_card2_r8_txt_p {
	    font-size: 18px;
	    line-height: 1.50;
	}
	._evnt5_card2_r8_titl_h3 {
	     font-size: 25px;
	    line-height: 1.30;
	}
	._evnt5_card2_r8_titl_p {
	    padding-right: 0px;
	    font-size: 25px;
	    min-width: 125px;
	}
	._evnt5_mtch_dte_p {
	    font-size: 14px;
	}
	/* ----===== CALENDAR STYLE 4 ====--- */


	/* ----===== CALENDAR STYLE 2 ====--- */
	._evnt2_pgrm_top_h3 {
	    margin-bottom: 20px;
	}
	._evnt2_pgrm_itm_crd_all a {
	    max-width: 100%;
	    width: 100%;
	}
	._evnt2_pgrm_itm_crd {
	    margin-right: 0px;
	    margin-bottom: 10px;
	}
	._evnt2_pgrm_crd_two {
	    left: 20px;
	    top: 65%;
	}
	/* ----===== CALENDAR STYLE 2 ====--- */


	/* ----===== CALENDAR STYLE 3 ====--- */
	._trmnt3_crd_sec {
	    display: block;
	    padding: 0px 7px;
	}
	._trmnt3_card_all {
		height: auto;
	    flex: 0 0 100%;
	    width: 100% !important;
	}
	._trmnt3_crd {
	    margin-right: 0px;
	    margin-bottom: 20px;
	}
	._trmnt3_crd_top_lft {
	    padding: 8px 6px 1px 6px;
	}
	._trmnt3_crd_top_p1 {
	    font-size: 15px;
	    line-height: 22px;
	}
	._trmnt3_crd_top_h3 {
	    font-size: 26px;
	    line-height: 31px;
	}
	._trmnt3_crd_top_p2 {
	    font-size: 14px;
	    margin-top: 4px;
	}
	._trmnt3_crd_btm_h3 {
	    font-size: 26px;
	    line-height: 34px;
	}
	._trmnt3_crd_loctn {
	    margin: 16px 0px 7px;
	}
	._trmnt3_crd_loctn_p {
	    font-size: 16px;
	}
	._clndr2_mnu_ul {
	   overflow: auto;              
	   align-items: center;               
	}                                  
	._clndr2_mnu_ul li p {
	    color: black !important;
	    width: max-content;                
	}                          
	._clndr2_mnu_ul li{                   
		font-size: 14px;
		padding: 11px 10px;          
	}
	._clndr2_mnu_active {            
	    border: 1px solid black;
	    padding: 11px 20px !important;
	}
	._clndr2_mnu {        
	    padding-left: 10px;
	}
	._clndr2_dte_lst {        
	    padding: 0px 0px 20px 10px;
	    margin-right: 10px;
	}
	._clndr2_dte_itm_p2 {
	    font-size: 27px;;
	}
	._clndr2_dte_itm_p3 {
	    font-size: 15px;
	}
	._clndr2_dte_itm_p1 {
	    font-size: 16px;
	    margin: 0px 0px 5px 0px;
	}
	._clndr2_mnu_ul li p {
   	 font-size: 14px;
     }
	._clndr2_dte_itm {
	    margin-right: 30px;
	}
	._clndr2_dte_itm_ul {
	    padding-right: 20px;
	}
	/* ----===== CALENDAR STYLE 3 ====--- */


	/* ----===== INTERVIEW STYLE 1 ====--- */
	._intrvw_sec {
	    display: block;
	    padding: 80px 20px;
	}
	._intrvw_r8 {
	    display: block;
	}
	._intrvw_lft {
	    width: 100%;
	}
	._intrvw_sec_h3 {
	    text-align: center;
	    padding:0px;
	}
	._intrvw_crd_vdo span {
	    top: 53%;
	    left: 53%;
	    width: 70px;
	    height: 70px;
	}
	._intrvw_crd_btm_p {
	    font-size: 19px;
	    line-height: 25px;
	    text-align: center;
	}
	._intrvw_crd_btm {
	    margin-left: 20px;
	    right: 0;
	    width: 100%;
	}
	._intrvw_crd {
	    margin-bottom: 30px;
	}
	._intrvw_crd_btm_h3 {
	    font-size: 27px;
	    text-align: center;
	}
	/* ----===== INTERVIEW STYLE 1 ====--- */


	/* ----===== NEWS STYLE 1 ====--- */
	._news_sec_top {
	    display: block;
	    text-align: center;
	}
	._news_section {
	    padding: 80px 20px;
	}
	._news_card_all {
	    display: block;
	}
	._news_card_lft {
	    height: 500px;
	    width: 100%;
	    margin-right: 0px;
	    margin-bottom: 20px;
   }
   ._news_card_btm {
	    bottom: 30px;
	    left: 20px;
	}
	._news_card_dtls_h4, ._news_card_dtls_h3 {
	    font-size: 20px;
	    line-height: 1.30;
	    margin-bottom: 5px;
	}
	._nws2_crd_btm_p {
    font-size: 17px;
   }
   ._do_pdl_nws_dte{
	   font-size: 14px;
   }
   ._do_pdl_nws_titl h3{
	   text-align: left;
	   padding-left: 0;
   }
   ._padel10_arrow_lft_news, ._padel10_arrow_rght_news{
	   display: none;
   }
   .groups{
	display: flex;
   	overflow: auto;
   	flex-wrap: nowrap;
   }
   ._anouncmnt_sec{
	padding: 10px !important;
   }
	.groups span {
		flex: 0 0 auto;
	}
   ._news_card_top_dte {
	    font-size: 21px;
	    padding: 9px 12px;
	    line-height: 26px;
	}
    ._news_card_r8_all {
      width: 100%;
    }
    ._news_card_r8_btm {
	    left: 20px;
	}
	._news_card_r8 {
	    height: 300px;
	}
	/* ----===== NEWS STYLE 1 ====--- */


	/* ----===== NEWS STYLE 2 ====--- */
	._nws2_banner_sec {
	    min-height: auto;
	    height: auto;
	    padding: 200px 20px;
	}
	._nws2_bnr_crd {
	    margin-right: 0px;
	    width: auto;
	    height: auto;
	    position: initial;
	    top: initial;
	    transform: initial;
	    right: auto;
	    padding: 20px;
	    text-align: center;
	}
	._nws2_bnr_crd_h3 { 
	    line-height: 39px;
	    font-size: 30px;
	}
	._nws2_crd_all_main {
	    display: block;
	}
	._nws2_crd_main {
   	 width: 100%;
	}
	._nws2_crd {
	    margin-right: 0px;
	   }
	/* ----===== NEWS STYLE 2 ====--- */


	/* ----===== TOURNAMENT LISTS 1 ====--- */
	._padel10_section {
	    padding: 60px 0px;
	}
	._padel9_list {
	    padding-right: 10px;
	    padding-left: 10px;
	}
	._padel9_list ul {
	    flex-wrap: wrap;
	}
	._padel9_list ul li {
	    margin-top: 8px;
	    margin-bottom: 6px;
	}
	._padel10_card {
	    flex: 0 0 100%;
	}
	._padel10_arrow_lft {
	    top: 50%;
	    left: 30px;
	}
	._padel10_arrow_r8 {
	    top: 50%;
	    right: 20px;
	}
	/* ----===== TOURNAMENT LISTS 1 ====--- */


	/* ----===== EVENT TIMELINE STYLE 1 ====--- */
	._evnt1_pgrm_schdl_sec {
	    padding: 70px 20px;
	}
	._evnt1_pgrm_schdl_all {
	    display: block;
	}
	._evnt1_pgrm_schdl_lft {
	    width: 100%;
     }
     ._evnt1_schdl_dtls_lft {
	    width: 65px;
	}
     ._evnt1_pgrm_schdl_crd {
	    margin-right: 0px;
	}
	._evnt1_pgrm_schdl_dtls_itm:last-child ._evnt1_schdl_dtls_r8_one ._evnt1_schdl_line:before {
	    height: calc(100% - 0px);
	    top: -24px;
	}
	/* ----===== EVENT TIMELINE STYLE 1 ====--- */


	/* ----===== EVENT TIMELINE STYLE 2 ====--- */
	._pgrm_schdl_sec {
	    display: block;
	    padding: 70px 20px;
	}
	._pgrm_schdl_lft {
	    width: 100%;
	}
	._pgrm_schdl_r8_list_ul li {
	    line-height: 14px;
	}
	._pgrm_schdl_dtls_r8_titl:after {
	    top: 5px;
	}
	._pgrm_schdl_r8_list_ul li:first-child:after {
	    top: 5px;
	}
	._pgrm_schdl_dtls_r8_titl{
	    font-size: 14px;
	}
	._pgrm_schdl_dtls_lft {
	    width: 65px;
	}
	._pgrm_schdl_card {
	    padding: 70px 15px 35px 15px;
	}
	._pgrm_schdl_dtls_lft_p {
	    margin: 0px;
	    font-size: 15px;
	}
	/* ----===== EVENT TIMELINE STYLE 2 ====--- */


	/* ----===== DIVISION RANK MATCH 1 ====--- */
	._1tv_logo {
	    text-align: center !important;
	    margin-bottom: 20px;
	    padding-right: 0px !important;
	}
	._1tv_adds_main {
	    margin-top: 20px !important;
	}
	._1tv_teams_row{
		height: auto !important;
	}
	
	._1tv_adds_list {
	    flex-wrap: wrap;
	    align-items: center;
	    justify-content: center;
	    display: flex;
	}
	._1tv_adds_list li {
	    margin-right: 10px !important;
	    margin-left: 10px !important;
	    margin-bottom: 15px !important;
	}
	._1tv_teams_list_img {
   		 height: 28px !important;
	    width: 28px !important;
	}
	._1tv_teams_list_num {
	    flex: 0 0 38px !important;
	}

	._1tv_teams_list_num_text {
	    font-size: 19px !important;
	}
	.eight {
	    font-size: 17px !important;
	}
	._1tv_team_details_header_img {
	    height: 62px !important;
	    width: 62px !important;
	}
	._1tv_teams_list_all{
		width: 100%;
	}
	._1tv_team_details_header_details {
	    padding: 0 0 0 15px;
	}
	._1tv_team_details_header {
	    padding: 31px 20px 25px 20px !important;
	}
	._1tv_team_details_title {
	    font-size: 26px !important;
	    line-height: 32px !important;
	    padding: 7px 0 3px !important;
	}
	._1tv_team_details_name {
	    font-size: 15px !important;
	}
	._1tv_team_details_results {
	    padding: 15px 20px !important;
	}
	._1tv_team_details_list li {
	    font-size: 15px !important;
	    text-align: center;
	}
	._1tv_team_details_cards_main {
	    flex: 0 0 50% !important;
       max-width: 50% !important;
	}
	._1tv_team_details_list li span {
	    font-size: 21px !important;
	}
	._1tv_card_main {    
		width: 100%;
    }
    ._1tv_title {
	    margin-bottom: 20px;
	    margin-top: 20px;;
	    text-align: center;
	}
	._1tv_teams_list_all {
	  height: auto;
	}
	/* ----===== DIVISION RANK MATCH 1 ====--- */

	/* ----=====  GROUP PLAY RANKS ====--- */
	._groupTv_col3 {
	    flex: 0 0 100%;
	}
	._tigers_popup_sec {
	    position: absolute;
	}
	._tigers_popup_sec_main {
	    padding: 25px 10px 5px 10px;
	}
	._tigers_popup_card_main {
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	._tigers_popup_vs {
	    top: -21px;
	}
	._tigers_popup_card {
	    margin-left: 5px;
	    margin-right: 5px;
	    margin-bottom: 40px;
	}
	._tigers_popup_btm_point ul li {
	    font-size: 19px;
	}
	._tigers_popup_rslt ul li {
	    font-size: 15px;
	    line-height: 19px;
	}
	._tigers_popup_rslt_point {
	    font-size: 26px;
	}
	._tigers_popup_close {
	    top: 15px;
	    right: 15px;
	}
	/* ----=====  GROUP PLAY RANKS ====--- */


	/* ----=====  EVENT 5 BANNER ====--- */
	._evnt5_banner_sec {
	    min-height: auto;
	    background-size: cover;
	    padding: 300px 0px 30px 0px;
	    overflow: hidden;
	}
	._evnt5_bnr_crd1_main {
	    width: auto;
	    min-width: auto;
	}
	._evnt5_bnr_crd1 {
	    padding-left: 20px;
	}
	._evnt5_bnr_crd1_top {
	    padding: 30px 0px 25px 0px;
	}
	._evnt5_bnr_titl_h3 {
	    font-size: 30px;
	    line-height: 36px;
	    padding-right: 0px;
	}
	._evnt5_bnr_read {
		top: auto;
	    width: 100%;
	    text-align: center;
	    margin-top: 30px;
	}
	._evnt5_bnr_btm_ul li {
	    padding-right: 15px;
	    font-size: 18px;
	    line-height: 22px;
	}
	._evnt5_bnr_btm_ul ul li{
		flex-wrap: wrap;
	}
	._evnt5_bnr_btm_ul li:last-child{
		padding-right: 0px;
	}
	._evnt5_btm_bnr_lft_p {
	    font-size: 25px;
	    line-height: 30px;
	}
	._evnt5_btm_bnr_lft {
	    padding: 25px 30px 25px 30px;
	}
	._evnt5_btm_bnr_sec{
		overflow: auto;
	}
	._evnt5_btm_bnr_r8_ul {
	    overflow: auto;
	}
	._evnt5_dte_day_p {
	    padding: 0px 10px;
	    line-height: 29px;
	    font-size: 21px;
	}
	/* ----=====  EVENT 5 BANNER ====--- */













	._onlymobile{
	  display : block;
	   font-size : 20px;
	   margin-top: 5px;
	}
	._desktoponly{
		display: none;
	}
	
	._do_pdl_nws_card {
		flex: 0 0 85%;
	}
	._padel10_card{
		flex: 0 0 100%;
	}
	._padel10_section{
		padding: 3px;
	}
	._padel10_arrow_lft{
		left: 32px;
	}
	._padel10_arrow_r8{
		right: 10px;
	}

}



/* timeline mobile css */

/* Mobile */
@media only screen and (max-width: 765px) {
	.mobileOnly{
		display: none;
	}
	._tree_top_center {
		flex: 0 0 100%;
		/* margin-bottom: 100px; */
		}
		._tree_main_all {
			overflow: auto;
		}
		._tree_main{
			flex: 0 0 auto !important;
			width: auto !important;
		}
	._tmln_shdl_top_mbl{
	  display: block;
	  margin-bottom: 15px;
	}
	._tour_sponsors_card_pic{
		max-width: 65px;
	}
	._tree_top_title{
		font-size: 20px;
	}
	._tour_sponsors_card {
		flex: 0 0 auto;
		margin-right: 22px;
		margin-bottom: 25px;
		
	}
	._tour_viaplay_card_all {
		display: flex;
		overflow: scroll;
		scroll-behavior: smooth;
	}
	._tour_teams_right {
		
		overflow: scroll;
		scroll-behavior: smooth;
	}
	.qft{
		display: none;
	}
	
	._tmln_shdl_top_mbl ul{
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
		  -ms-flex-align: center;
			  align-items: center;
	  list-style: none;
	  padding: 0;
	  margin: 0;
	}
	._tmln_shdl_top_mbl ul li{
	  margin-right: 20px;
	  font-size: 12px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.83;
	  letter-spacing: normal;
	  color: #bbbbbb;
	}
	._tmln_shdl_top_mbl ul ._active{
	  padding: 4px 15px;
	  border: solid 1px #fc962b;
	  border-radius: 35px;
	  font-weight: bold;
	  color: #fff;
	}
	._tmln_shdl_top {
		margin-bottom: 25px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: baseline;
			-ms-flex-align: baseline;
				align-items: baseline;
	}
	._tmln_shdl_top h3 {
		font-size: 24px;
		margin-right: 10px;
	}
	._tmln_shdl_top p {
		font-size: 12px;
	}
	._tmln_shdl_crd_day{
	  display: none;
	}
	._tmln_shdl_sec {
		padding: 45px 0px 45px 15px;
	}
	._tmln_shdl_crd {
		-webkit-box-flex: 0;
			-ms-flex: 0 0 95%;
				flex: 0 0 95%;
	}
	._tmln_shdl_crd_inner {
		padding: 20px 15px;
		 margin-right: 7px;
	}
	._tmln_shdl_itm_lft p {
		font-size: 13px;
	}
	._tmln_shdl_itm_r8_one h4:after {
		width: 7px;
		height: 7px;
		left: -27px;
		top:4px;
	}
	._tmln_shdl_itm_lft {
		width: 55px;
	}
	._tmln_shdl_itm_r8 {
		padding-left: 15px;
	}
	._tmln_shdl_itm_r8_one h4 {
		font-size: 17px;
		line-height: 1.20;
		margin-bottom: 4px;
	}
	._tmln_shdl_itm_ul_one li:first-child {
		font-size: 12px;
	}
	._tmln_shdl_itm_ul_one li {
		font-size: 10px;
		margin-right: 0;
		padding-right: 14px;
	}
	._tmln_shdl_itm_ul_one li:after {
		top: 3px;
		right: 3px;
		width: 1px;
		height: 12px;
	}
	._tmln_shdl_itm_r8_one:last-child {
		padding-bottom: 22px;
	}
	._tmln_shdl_itm_r8_inner {
		 /* padding-bottom: 10px; */
	}
	._tmln_shdl_lft_arrow, ._tmln_shdl_r8_arrow{
	  display: none;
	}
	._tmln_shdl_itm_txt1 {
		font-size: 12px;
		 line-height: 1.30;
	}
	._tmln_shdl_itm_txt2 {
		font-size: 14px;
		line-height: 1.30;
	}
	._tmln_shdl_itm_ul_two li {
	   font-size: 10px;
	   margin-right: 17px;
	   line-height: 1.50;
	}
	._tmln_shdl_itm_ul_two li:first-child {
	  font-size: 12px;
	}
	._tmln_shdl_itm_ul_two li:after {
		top: 4px;
		right: -9px;
		width: 1px;
		height: 12px;
	}
	._tmln_shdl_itm_ul_two {
		margin-bottom: 5px;
	}
	._tmln_shdl_itm_ul_two:last-child{
		margin-bottom: 0px;
	}
	._tmln_shdl_itm_r8_one {
		padding-bottom: 10px;
	}
	._tmln_shdl_itm_r8_one._title {
		padding-bottom: 15px;
	}
	._tmln_shdl_itm_txt1:after {
		top: 5px;
		left: -26px;
		width: 5px;
		height: 5px;
	}
	._tmln_shdl_itm_ul_one:after {
		top: 5px;
		left: -26px;
		width: 5px;
		height: 5px;
	}
	._tmln_shdl_itm_r8:after {
		top: 8px;
	}
	._tmln_shdl_itm_ul_two:first-child:after {
		top: 5px;
		left: -26px;
		width: 5px;
		height: 5px
	}
	._tmln_shdl_itm_r8_one:before {
		left: -24px;
		top: 9px;
	}
	._tmln_shdl_itm_ul_one li {
		font-size: 12px;
		line-height: 16px;
		white-space: nowrap;
		max-width: calc(50% - 12px);
		overflow: hidden;
		flex: 0 0 auto;
		display: inline-block;
		text-overflow: ellipsis;
		/* max-width: 50%; */
	}
	._tmln_shdl_itm_ul_one {
		display: block;
	}
	._tmln_shdl_itm_ul_one li:last-child {
		margin-right: 0px;
		max-width: calc(50% - 8px);
		font-size: 10px;
		padding: 00 0;
		top: 1px;
		position: relative;
	}
	}


/* Mobile */
@media only screen and (max-width: 765px) {
	._tour_viaplay {
		padding: 0px 0px 35px 10px;
		display: flex;
		flex-wrap: wrap;
	}
	._tour_teams_left{
		margin-bottom: -25px;
	}
	._tour_teams_errow._next {
		right: 17px;
	}
	._tour_teams_right {
		flex: 0 0 100%;
		margin-top: 14px;
	}
	._trnmnt_txt2_r8 p{
		line-height: 1.7;
	}
	._tour_viaplay ._tour_teams_left_title,._tour_clubs ._tour_teams_left_title {
		display: inline-block;
	}
	._tour_teams_left_title {
		font-size: 24px;
	}
	._tour_clubs_left_join {
		line-height: 1.55;
		font-size: 24px;
		font-weight: bold;
		display: inline-block;
		margin: 0 0 0 11px;
	}
	._tour_viaplay_eli {
		font-size: 12px;
		color: rgb(255 255 255 / 50%);
		margin: 4px 0 14px;
	}
	._tour_viaplay_card_title {
		font-size: 12px;
	}
	._tour_viaplay_card_date {
		font-size: 10px;
		margin: 3px 0 0;
	}
	._tour_viaplay_card_peo {
		font-size: 10px;
	}
	._tour_teams_left {
		flex: 0 0 100%;
		padding: 0;
	}
	._tour_teams {
		padding: 15px 0px 15px 15px;
		flex-wrap: wrap;
	}
	._tour_teams_card {
		width: 216px;
		height: 172px;
		padding: 18px 15px 8px;
		flex: 0 0 216px;
	}
	._tour_teams_card_title {
		margin: 00 0 24px;
	}
	._tour_teams_card_pic {
		width: 35px;
		height: 35px;
		flex: 0 0 auto;
		margin: 0 2px 0;
	}
	._tour_teams_card_name_main {
		margin-top: 14px;
	}
	._tour_teams_card_name {
		font-size: 12px;
	}
	._tour_teams_card_class {
		font-size: 10px;
		margin-top: 8px;
		margin: 8px 00 0;
	}
	._tour_teams_left_tour {
		font-size: 18px;
	}
	._tour_teams_date {
		padding: 8px 0 0;
		margin: 8px 0 15px;
	}
	._tour_teams_left_sign {
		margin: 0;
		line-height: 1.55;
		font-size: 24px;
		display: inline-block;
		font-weight: bold;
		padding: 0 0 0 10px;
	}
	._tour_teams ._tour_teams_left {
		flex: 0 0 100%;
		padding: 0 15px 0 0;
	}
	._tour_header {
		padding: 103px 9px 47px;
	}
	._tour_header_top {
		display: none;
	}
	._tour_header_search {
		margin: 22px auto 0;
		padding: 11px ​9p;
	}
	._tour_header_search_button {
		display: none;
	}
	._tour_header_search_list {
		padding: 0;
		margin: 17px 0 0;
		display: flex;
		overflow: hidden;
		position: relative;
	}
	._tour_header_search_list li:last-child {
		position: absolute;
		padding: 0;
		background-color: transparent;
		right: 0;
	}
	._tour_header_mob{
		display: flex;
	}
	._tour_header_search_list li {
		white-space: nowrap;
		flex: 0 0 auto;
	}
	._tour_header_search_btn {
		border-radius: 0;
		background-color: #000000;
	}
	._tour_header_bottom {
		display: none;
	}
	._tour_map_left {
		display: none;
	}
	._tour_map_right {
		width: 100%;
	}
	._tour_map_right_card {
		width: 300px;
		flex: 0 0 300px;
	}
	._tour_des {
		padding: 15px 13px;
	}
	._tour_des_main {
		padding: 15px 0;
	}
	._tour_des_left {
		padding: 0 0 12px;
	}
	._tour_des_main_con {
		padding: 0;
	}
	._tour_news {
		padding: 15px 0 20px 13px;
		align-items: center;
		flex-wrap: wrap;
	}
	._tou_ads_main {
		padding: 15px 0;
	}
	._tour_ads {
		padding: 20px 13px;
	}
	._tour_ads_left {
		padding: 0 15px 20px;
	}
	._tou_ads_des_all {
		padding: 0 15px 0;
	}
	._tour_news ._tour_teams_left_title {
		display: block;
	}
	._tour_teams_left {
		padding: 0 0 15px;
	}
	._tour_news_card {
		width: 300px;
		flex: 0 0 300px;
	}
	._tour_sponsors {
		padding: 20px 13px 20px;
		flex-wrap: wrap;
	}
	._tour_sponsors_title {
		margin: 0 00 15px;
		font-size: 24px;
	}
	._tour_map {
		padding: 220px 16px 20px;
		background: black;
	}
	._tour_map_map {
		height: 300px;
	}
	._tour_feat_main {
		padding: 0 13px;
	}
	._tour_featured_title {
		font-size: 24px;
	}
	._fea_ads_card {
		width: 280px;
		flex: 0 0 280px;
	}
	._tour_clubs {
		padding: 20px 0px 20px 13px;
		display: flex;
		flex-wrap: wrap;
	}
	._tour_clubs_card {
		margin-right: 50px;
	}
	._tour_rel {
		padding: 15px 13px 20px;
		flex-wrap: wrap;
	}
	._tour_rel_left {
		flex: 0 0 100%;
		padding: 0 0px 20px 0;
	}
	._fea_ads {
		padding: 20px 0px 40px 13px;
	}
	._tour_feat_title {
		font-size: 24px;
		margin: 3px 0 2px;
	}
	._tour_feat_button {
		margin-top: 11px;
	}
	._2btn {
		height: 44px;
		font-size: 14px;
	}
	._tour_feat_pic {
		height: 305px;
	}
	._tour_feat_img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	._tour_teams ._tour_teams_left_title {
		display: inline-block;
	}
	/* Index page */
	._home_spon {
		padding: 15px 13px 20px;
		flex-wrap: wrap;
	}
	._home_om {
		padding: 0px 13px;
	}
	._home_om_main {
		padding: 15px 0px;
	}
	._home_om_left {
		padding: 0 0 23px;
	}
	._home_om_left_title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	._home_spon_card_pic {
		width: 80px;
		height: 80px;
		padding: 5px 8px;
	}
	._home_spon_card {
		flex: 0 0 80px;
		margin-right: 15px;
	}
	._home_spon_card_all {
		overflow: hidden;
		margin: 20px 0 0;
	}
	._home_spon_left {
		flex: 0 0 100%;
	}
	._home_spon_right {
		flex: 0 0 100%;
		overflow: hidden;
	}
	._home_regi {
		padding: 20px 13px 20px;
		flex-wrap: wrap;
	}
	._home_regi_left_text {
		font-size: 12px;
		margin: 0px 0 15px;
	}
	._home_regi_left_title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	._home_regi_main {
		padding: 34px 27px 38px;
	}
	._home_pdl {
		padding: 20px 13px 20px;
		flex-wrap: wrap;
	}
	._home_pdl_left {
		flex: 0 00 100%;
		padding: 0 0 20px;
	}
	._home_pdl_left_title {
		font-size: 24px;
		margin: 0;
	}
	._home_pdl_left_text {
		font-size: 14px;
		margin: 8px 0 0;
	}
	._home_stand {
		padding: 20px 13px 20px 13px;
		flex-wrap: wrap;
	}
	._home_stand_subtitle {
		font-size: 12px;
		margin: 10px 0 15px;
	}
	._home_stand_num {
		padding: 0 0 10px;
		max-width: 100%;
	}
	._home_stand_class {
		font-size: 12px;
		margin: 15px 0 10px;
	}
	._home_stand_right {
		flex: 0 0 100%;
		overflow: hidden;
	}
	._home_stand_left {
		flex: 0 0 100%;
		padding: 0px 0px 0 0;
	}
	._home_stand_right {
		flex: 0 0 100%;
	}
	._home_stand_right_main {
		flex: 0 0 100%;
		margin-right: 0;
	}
	._tour_sponsors._home_sponsors {
		padding: 20px 13px 20px;
	}
	._super_elit {
		padding: 20px 13px 20px 13px;
	}
	._super_elit_card_all {
		margin-right: -13px;
	}
	._super_elit_card_group {
		width: 250px;
		flex: 0 0 250px;
	}
	._super_elit_title {
		font-size: 24px;
	}
	._super_elit_date {
		font-size: 13px;
		margin: 5px 0 20px;
	}
	._super_elit_inter {
		padding-top: 20px;
		flex-wrap: wrap;
	}
	._super_elit_inter_left {
		flex: 0 0 100%;
		width: 100%;
	}
	._super_elit_inter_right {
		flex: 0 0 100%;
		margin-top: 15px;
	}
	._super_elit_inter_right {
		flex: 0 0 100%;
		overflow: hidden;
		margin-top: 15px;
	}
	._super_elit_inter_left_title {
		font-size: 24px;
		margin: 0;
	}
	._super_elit_inter_card {
		width: 300px;
		flex: 0 0 300px;
	}
	._slutspel {
		padding: 0 13px;
	}
	._slutspel_main {
		padding: 20px 0;
		flex-wrap: wrap;
	}
	._slutspel_left {
		flex: 0 0 100%;
		margin: 0 0 15px;
	}
	._slutspel_title {
		font-size: 24px;
		margin: 0;
	}
	._fea_ads._home_fea_ads {
		padding: 20px 0px 20px 13px;
	}
	._home_tree {
		padding: 20px 0px 20px 13px;
		flex-wrap: wrap;
	}
	._home_tree_left {
		flex: 0 0 100%;
		padding: 0 00 15px;
	}
	._home_tree_right {
		flex: 0 0 100%;
	}
	._2tree_main_all {
		margin: 0 0 0 0px;
	}
	._2tree_main_all {
		
		justify-content: flex-start;
		
	}
	._home_news._tour_news {
		padding: 20px 0px 35px 13px;
	}
	._banner_bottom {
		height: auto;
		flex-wrap: wrap;
		padding: 0 13px;
		position: inherit;
	}
	._banner_bottom_con {
		flex: 0 0 50%;
		margin-right: 0;
		padding: 10px 0;
	}
	._banner_main {
		width: 100%;
		padding: 9px 18px;
		bottom: 259px;
		position: inherit;
		/* margin-top: -150px; */
	}
	.header_style_six_all{
		background: black;
	}
	._banner_pic {
		/* height: 370px; */
	}
	._banner_img {
		width: 100%;
		height: 100% !important;
		object-fit: contain;
	}
	._home_stand_menu li {
		display: inline-block;
	}
	._home_stand_menu {
		padding: 4px 0 20px;
	}
	._home_regi_left {
		flex: 0 0 100%;
		padding: 0 0 8px;
	}
	._super_elit_group {
		margin: 0 0 15px;
	}
	._super_elit_group_list {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1;
	}
	._super_elit_group_list li {
		flex: 0 0 auto;
	}
	/* Index page */
	
	
	/* About us */
	._about_des_main {
		padding: 0;
		background-color: #ffffff;
		margin-top: 0;
		position: relative;
	}
	/* About us */
	
	/* Event landing */
	._2banner {
		position: relative;
		background: black;
	}
	._2banner_pic {
		height: 100%;
		height: 400px;
	}
	._2banner_img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	._2banner_bottom_ro {
		position: absolute;
		flex: 0 0 auto;
		margin-right: 0;
		left: -25px;
	}
	._2banner_bottom {
		height: auto;
		position: inherit;
		flex-wrap: wrap;
		padding: 0 13px 0 40px;
	}
	._2banner_bottom_con {
		flex: 0 0 100%;
		margin-right: 0;
		padding: 10px 0;
	}
	._2banner_main {
		width: 100%;
		padding: 10px 13px 30px;
		bottom: inherit;
		left: 0;
		top: 0;
		position: inherit;
		margin-top: -159px;
	}
	._2banner_details {
		overflow: hidden;
	}
	/* Event landing */
	.classes_lists {
		padding: 0 0 60px !important;
		overflow: scroll;
		scroll-behavior: smooth;
	}
	._2tree_list li{
		flex: 0 0 auto;
	}
	._2tree_list{
		padding: 0px 20px 41px;
		overflow: scroll;
    	scroll-behavior: smooth;
	}
	
/* About us */
._about_des_main {
    padding: 0;
    background-color: #ffffff;
    margin-top: 0;
    position: relative;
}
/* About us */

/* Event landing and Event landing two */
._2banner {
    position: relative;
    background: black;
}
._2banner_pic {
    height: 100%;
    height: 400px;
}
._2banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
._2banner_bottom_ro {
    position: absolute;
    flex: 0 0 auto;
    margin-right: 0;
    left: -25px;
}
._2banner_bottom {
    height: auto;
    position: inherit;
    flex-wrap: wrap;
    padding: 0 13px 0 40px;
}
._2banner_bottom_con {
    flex: 0 0 100%;
    margin-right: 0;
    padding: 10px 0;
}
._2banner_main {
    width: 100%;
    padding: 10px 13px 30px;
    bottom: inherit;
    left: 0;
    top: 0;
    position: inherit;
    margin-top: -159px;
}
._2banner_details {
    overflow: hidden;
    padding: 0 0 0 15px;
}
._menu{
    display: none;
}
._eventLan_peo {
    padding: 20px 0px 20px 13px;
    flex-wrap: wrap;
}
._eventLan_peo_card {
    width: 156px;
    padding: 34px 15px 30px;
    flex: 0 0 156px;
}
._eventLan_peo_right {
    flex: 0 0 100%;
    padding: 15px 0 0;
}
._eventLan_peo_left {
    flex: 0 0 100%;
    padding: 0 0 0 13px;
}
._eventLan_peo_title {
    font-size: 24px;
    line-height: 1.5;
}
._eventLan_peo_sign {
    font-size: 18px;
    margin: 1px 0 0px;
}
._eventLan_peo_wine {
    font-size: 18px;
}
._eventLan_fea_ads._fea_ads {
    padding: 12px 0 12px 13px;
}
._eventLan_regi {
    padding: 15px 13px 0;
    flex-wrap: wrap;
}
._eventLan_regi_right {
    padding: 0px 0 20px 0px;
    flex: 0 0 100%;
}
._eventLan_regi_main {
    padding: 20px 25px 20px;
    max-width: 100%;
}
._eventLan_regi_left_title {
    font-size: 24px;
    margin-bottom: 8px;
}
._eventLan_regi_price {
    font-size: 20px;
    margin: 15px 0 0;
}
._eventLan_regi_bottom {
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}
._eventLan_add {
    padding: 20px 13px 20px;
    flex-wrap: wrap;
}
._eventLan_add_title {
    font-size: 24px;
    margin: 0 0 20px;
}
._eventLan_add_list li {
    margin-bottom: 14px;
    line-height: 23px;
}
._eventLan_add_tag li {
    padding: 5px 15px;
    font-size: 11px;
    margin-right: 2px;
    margin-bottom: 6px;
}
._eventLan_add_list {
    margin: 0 0 25px;
    padding: 0 0 0 17px;
}
._eventLan_rel {
    padding: 20px 13px;
}
._eventLan_rel_left {
    flex: 0 0 100%;
}
._eventLan_rel_title {
    font-size: 24px;
    line-height: 1.2;
}
._eventLan_rel {
    flex-wrap: wrap;
}
._eventLan_rel_right {
    flex: 0 0 100%;
    margin: 15px 0 0;
}

._sch {
    padding: 20px 0 20px 13px;
}
._sch_title {
    font-size: 24px;
}
._timeline_time {
    display: none;
}
._timeline {
    width: 364px;
    padding: 15px 21px 10px;
    margin-right: 15px;
    flex: 0 0 364px;
    opacity: .3;
}
._timeline_time_date {
    font-size: 10px;
    flex: 0 0 38px;
}
._timeline_time_title {
    font-size: 14px;
    line-height: 20px;
}
._timeline_Subtime_title {
    font-size: 12px;
    line-height: 18px;
}
._timeline_time_text {
    font-size: 10px;
    margin: 2px 0px 0;
    line-height: 18px;
}
._timeline_Subtime_text {
    font-size: 10px;
    margin: 2px 0 0;
    line-height: 18px;
}
._timeline_Subtime_title span {
    font-size: 12px;
}
.bigDot {
    top: 5px;
    left: -29px;
    width: 10px;
    height: 10px;
}
/* Event landing and Event landing two */
	
	
	}
	/* Mobile */
	
	/* Ipad */
	@media only screen and (min-width: 768px) and (max-width: 1050px) {
	
	}
	/* Ipad */
	
	/* Over Desktop 1366 */
	@media only screen and (min-width: 1500px) {
		._tour_teams_card_all {
			display: flex;
			transition: .2s all ease;
			margin-left: 62px;
		}
		.qftSingup._pre{
			left: 40px;
		}
	}