<template>
  <div>
     <div class="_do_pdl4_coach">
		<div class="_do_pdl4_coach_top">
			<p>Coaches</p>
		</div>  
		<div class="_do_pdl4_coach_main_all">   
      <div class="_do_pdl4_coach_silder_all">
        <div class="_do_pdl4_coach_silder">
          <div class="_do_pdl4_coach_main" :style="{ transform: 'translate3d('+translateValue+'%, 0px, 0px)'  }" >
            <div class="_do_pdl4_coach_lft_main" v-for="(g, i) in images" :key="i">                          
              <div class="_do_pdl4_coach_lft">                          
                <div class="_do_pdl4_coach_lft_img" >
                  <img :src="g.img" alt="image">
                </div>                                                              
                <div class="_do_pdl4_coach_dtls">                                  
                  <div class="_do_pdl4_coach_dtls_one">
                    <div class="_do_pdl4_coach_dtls_top">
                      <p>{{g.name}}</p>                      
                      <h3>                                     
                        Gabriel <span>McGrath</span>    
                      </h3>                                                                            
                      <ul>                                                 
                        <li>0718-900453</li>
                        <li>gabrialmcgrath@gmail.com</li>                       
                      </ul>
                    </div>                                  
                    <div class="_do_pdl4_coach_dtls_txt">
                      <p>                                                    
                        Gabriel is one of the top coach in our club. 
                        Last  highlight was the Master Final of the WPT (World Padel Tour)  year                                                
                        celebrated in Barcelona. Most famous clubs all around the world host    
                        the WPT tournaments where best players collect points for ranking. 
                        </p>
                        <div class="_do_pdl4_coach_dtls_titl">
                          <p class="_do_pdl4_coach_dtls_titl_p">About Gabriel</p>
                        </div>
                    </div>
                        </div>                                                                                                
                  <div class="_do_pdl4_coach_dtls_two">
                    <div class="_do_pdl4_coach_dtls_itm_all">
                      <div class="_do_pdl4_coach_dtls_itm">
                        <div class="_do_pdl4_coach_dtls_sngl">
                          <ul>    
                            <li>Magna Cum Laude </li>
                            <li>Harvard</li>
                            <li>Finance</li>
                          </ul>
                          </div>                                                                                           
                        <div class="_do_pdl4_coach_dtls_sngl">
                          <ul>    
                            <li>Magna Cum Laude </li>
                            <li>Harvard</li>
                            <li>Finance</li>
                          </ul>                                         
                        </div>
                      </div>              
                      <div class="_do_pdl4_coach_dtls_sngl_titl">
                          <p class="_do_pdl4_coach_lft_rcnt">Education</p>
                        </div>
                    </div>	
                    <div class="_do_pdl4_coach_dtls_itm_all">
                      <div class="_do_pdl4_coach_dtls_itm">
                        <div class="_do_pdl4_coach_dtls_sngl">
                          <ul>
                            <li>Magna Cum Laude </li>
                          </ul>                               
                        </div>                               
                        <div class="_do_pdl4_coach_dtls_sngl">                     
                          <ul>               
                            <li>Magna Cum Laude </li>
                          </ul>        
                        </div>
                        <div class="_do_pdl4_coach_dtls_sngl">                                 
                          <ul>
                            <li>Magna Cum Laude</li>
                          </ul>
                          <p>This is the model of a sub section if we have to add anything else.</p>
                        </div>
                      </div>
                      <div class="_do_pdl4_coach_dtls_sngl_titl">
                          <p class="_do_pdl4_coach_lft_rcnt">Accomplishments</p>
                        </div>
                    </div>		
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- next pre -->
        <div  @click="changeImagePre" class="_next_pre _pre">
          <
        </div>

        <div  @click="changeImage" class="_next_pre _next">
          >
        </div>
        <!-- next pre -->
      </div>
      
			<div class="_do_pdl4_coach_btm">
				<ul>
					<li class="_do_pdl4_coach_actv"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>     
	</div>
  </div>
</template>

<script>
export default {
     data(){
       return {
         translateValue: 0,
         images : [
           {img : 'https://img.freepik.com/free-photo/mand-holding-cup_1258-340.jpg?size=626&ext=jpg', 'name' : "person 1"},
           {img : 'https://thumbor.forbes.com/thumbor/711x505/https://specials-images.forbesimg.com/imageserve/5f469ea85cc82fc8d6083f05/960x0.jpg?fit=scale', 'name' : 'person 2'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrUCpkNzYL0qyUoFPh0edSK6b0rXpreXLHg&usqp=CAU', 'name' : 'person 3'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWlKVGJeILLo6n3_-9GgvdvWyz7MJbC1o7g&usqp=CAU', 'name' : 'person 4'},

           {img : 'https://img.freepik.com/free-photo/mand-holding-cup_1258-340.jpg?size=626&ext=jpg', 'name' : "person 1"},
           {img : 'https://thumbor.forbes.com/thumbor/711x505/https://specials-images.forbesimg.com/imageserve/5f469ea85cc82fc8d6083f05/960x0.jpg?fit=scale', 'name' : 'person 2'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrUCpkNzYL0qyUoFPh0edSK6b0rXpreXLHg&usqp=CAU', 'name' : 'person 3'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWlKVGJeILLo6n3_-9GgvdvWyz7MJbC1o7g&usqp=CAU', 'name' : 'person 4'},

           {img : 'https://img.freepik.com/free-photo/mand-holding-cup_1258-340.jpg?size=626&ext=jpg', 'name' : "person 1"},
           {img : 'https://thumbor.forbes.com/thumbor/711x505/https://specials-images.forbesimg.com/imageserve/5f469ea85cc82fc8d6083f05/960x0.jpg?fit=scale', 'name' : 'person 2'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrUCpkNzYL0qyUoFPh0edSK6b0rXpreXLHg&usqp=CAU', 'name' : 'person 3'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWlKVGJeILLo6n3_-9GgvdvWyz7MJbC1o7g&usqp=CAU', 'name' : 'person 4'},

           {img : 'https://img.freepik.com/free-photo/mand-holding-cup_1258-340.jpg?size=626&ext=jpg', 'name' : "person 1"},
           {img : 'https://thumbor.forbes.com/thumbor/711x505/https://specials-images.forbesimg.com/imageserve/5f469ea85cc82fc8d6083f05/960x0.jpg?fit=scale', 'name' : 'person 2'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrUCpkNzYL0qyUoFPh0edSK6b0rXpreXLHg&usqp=CAU', 'name' : 'person 3'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWlKVGJeILLo6n3_-9GgvdvWyz7MJbC1o7g&usqp=CAU', 'name' : 'person 4'},

           {img : 'https://img.freepik.com/free-photo/mand-holding-cup_1258-340.jpg?size=626&ext=jpg', 'name' : "person 1"},
           {img : 'https://thumbor.forbes.com/thumbor/711x505/https://specials-images.forbesimg.com/imageserve/5f469ea85cc82fc8d6083f05/960x0.jpg?fit=scale', 'name' : 'person 2'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrUCpkNzYL0qyUoFPh0edSK6b0rXpreXLHg&usqp=CAU', 'name' : 'person 3'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWlKVGJeILLo6n3_-9GgvdvWyz7MJbC1o7g&usqp=CAU', 'name' : 'person 4'},

           {img : 'https://img.freepik.com/free-photo/mand-holding-cup_1258-340.jpg?size=626&ext=jpg', 'name' : "person 1"},
           {img : 'https://thumbor.forbes.com/thumbor/711x505/https://specials-images.forbesimg.com/imageserve/5f469ea85cc82fc8d6083f05/960x0.jpg?fit=scale', 'name' : 'person 2'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrUCpkNzYL0qyUoFPh0edSK6b0rXpreXLHg&usqp=CAU', 'name' : 'person 3'},
           {img : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWlKVGJeILLo6n3_-9GgvdvWyz7MJbC1o7g&usqp=CAU', 'name' : 'person 4'},

           {img : 'https://img.freepik.com/free-photo/mand-holding-cup_1258-340.jpg?size=626&ext=jpg', 'name' : "person 1"},

           
          


          
           
           
           
          ],
          clickNumbers : 1
         
       } 
       
     },
     methods : { 
       changeImage(){ // increase 
          if(this.clickNumbers == this.images.length - 1){
              this.translateValue = 0
              this.clickNumbers = 1
              return

          } 
          this.translateValue = -this.clickNumbers*69
          this.clickNumbers++
          
          console.log('increament',this.translateValue)
       },
       changeImagePre(){ // going back
         if(this.clickNumbers == 1) return 
         let newNumber = this.translateValue + 69
         
          this.translateValue = newNumber
          console.log('decreament',this.translateValue)
          this.clickNumbers--
       }
     }
}
</script>


<style scoped>
*, ::after, ::before {
    box-sizing: border-box;
}
._do_pdl4_coach_silder_all{
  position: relative;
}

._next_pre{
      position: absolute;
    background: #eeeeee;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    color: #000;
    font-size: 44px;
    line-height: 28px;
    padding: 0 0 3px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px #00000087;
    transition: .3s all ease;
    opacity: 0;
}
._next{
  right: -0;
}
._do_pdl4_coach_silder_all:hover ._next{
  opacity: .8;
  right: -23px;
}
._pre{
    left: -0;
}
._do_pdl4_coach_silder_all:hover ._pre{
  opacity: .8;
  left: -23px;
}
._next_pre:hover{
  opacity: 1 !important;
}
._do_pdl4_coach_silder{
  overflow: hidden;
}
._do_pdl4_coach_main{
  transition: .5s all ease;
  width: 100%;
}
._do_pdl4_coach_lft_main {
        max-width: 69%;
    padding-right: 20px;
    flex: 0 0 69%;;
}
._do_pdl4_coach{
  padding: 100px 20px 80px 104px;
  background: #000;
}
._do_pdl4_coach_top p{
      margin: 0px 0px 60px 0px;
    font-family: Gilroy !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.9;
    color: #222222;
    background: #fff;
    border-radius: 12px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px 21px;
}
._do_pdl4_coach_main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl4_coach_lft{
  border-radius: 20px;
  background-color: #ffffff;
  padding: 13px 45px 13px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl4_coach_lft_img{
  width: 520px;
  margin-right: 25px;
}
._do_pdl4_coach_lft_img img{
   -o-object-fit: cover;
      object-fit: cover;
   width: 100%;
   height: 100% !important;
   display: block;
   border-radius: 20px !important;
}
._do_pdl4_coach_dtls{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
._do_pdl4_coach_dtls_top{
    padding-left: 60px;
    margin-top: 40px;
}
._do_pdl4_coach_dtls_top p{
  font-family: Gilroy !important;
   font-size: 20px;
   line-height: 1.15;
   color: #ffffff;
   background: #222222;
   border-radius: 8px;
   padding: 10px 15px;
   margin: 0px 0px 15px 0px;           
   text-transform: uppercase;                                       
   width: -webkit-max-content;                                       
   width: -moz-max-content;                                       
   width: max-content;
}              
._do_pdl4_coach_dtls_top h3 {
    margin: 0px 0px 10px 0px;
   font-family: Gilroy !important;
    font-size: 56px;
    line-height: 1.21;
    font-weight: normal;
    color: #222222;
}
._do_pdl4_coach_dtls_top h3 span{
  font-weight: 800;
}
._do_pdl4_coach_dtls_top ul{                           
  list-style: none;
  padding: 0px 0px 40px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl4_coach_dtls_top ul li{
    padding: 11px 19px 12px;
    border-radius: 10px;
    background-color: #eeeeee;
  font-family: Gilroy !important;
    font-size: 18px;
    line-height: 1.29;
    color: #626262;
    margin-right: 10px;
}
._do_pdl4_coach_dtls_txt {
    padding-left: 60px;
    padding-bottom: 40px;
    border-bottom: 4px solid #e9e9f5;
    position: relative;
}
._do_pdl4_coach_dtls_titl{
    position: absolute;
    top: 30px;
    left: -45px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
._do_pdl4_coach_dtls_titl_p{
   margin: 0 !important;
  opacity: 0.3 !important;
  font-family: Gilroy !important;
  font-size: 14px !important;
  line-height: 1.30 !important;
  letter-spacing: 1.54px !important;
  color: #222222 !important;
  text-transform: uppercase  !important;
}
._do_pdl4_coach_dtls_txt p{
  margin:0;                                
 font-family: Gilroy !important;
  font-size: 18px;
  line-height: 1.78;
  color: #222222;
}
._do_pdl4_coach_dtls_two{
    padding-bottom: 10px;
}
._do_pdl4_coach_dtls_itm_all{
  position: relative;
}
._do_pdl4_coach_dtls_itm{
    padding-top: 40px;
    padding-left: 90px;
    position: relative;
}                                                               
._do_pdl4_coach_dtls_sngl{
  padding-bottom: 12px;
  position: relative;                                          
}  
._do_pdl4_coach_dtls_sngl:after{
   position: absolute;
   content: '';
   top: 12px;
   left: -30px;
   width: 8px;
   height: 8px;
   background-color: #999999;
   border-radius: 50%;
} 
._do_pdl4_coach_dtls_sngl:before{
   position: absolute;
   content: '';
   top: 19px;
   left: -27px;
   width: 2px;
   height: 100%;
   background-color: #999999;
} 
._do_pdl4_coach_dtls_itm ._do_pdl4_coach_dtls_sngl:last-child:before{
   width: 0;
}   
._do_pdl4_coach_dtls_sngl p{
    font-size: 18px;
    color: #6f6f6f;
    margin: 5px 0px 0px 0px;
  font-family: Gilroy !important;
    line-height: 1.29;
}                                                             
._do_pdl4_coach_dtls_sngl ul{
    list-style: none;
    padding: 0px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}                                                              
._do_pdl4_coach_dtls_sngl ul li{
   margin-right: 24px;
   position: relative;
  font-family: Gilroy !important;
   font-size: 18px;
   line-height: 1.90;
   color: #222222;
}
._do_pdl4_coach_dtls_sngl ul li:last-child{
   margin-right: 0px;
}
._do_pdl4_coach_dtls_sngl ul li:after{
  position: absolute;
  content: '';
  top: 6px;                              
  right: -12px;
  width: 2px;
  height: 20px;
  background: #222222;
}  
._do_pdl4_coach_dtls_sngl ul li:last-child:after{
  width: 0;
}                                                                                                                                                      
._do_pdl4_coach_r8{
  width: 25%;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 13px;
}                                                                
._do_pdl4_coach_r8 img{
   -o-object-fit: cover;
      object-fit: cover;
   width: 100%;
   height: 100% !important;
   display: block;
   border-radius: 20px !important;
}                                                                
._do_pdl4_coach_dtls_sngl_titl{
    position: absolute;
    top: 52%;
    right: 100%;
    left: 19px;
    bottom: 55px;
    -webkit-transform: translateY(51px);
        -ms-transform: translateY(51px);
            transform: translateY(51px);
}                                                         
._do_pdl4_coach_dtls_sngl_titl p{
    margin: 0 !important;
    opacity: 0.3 !important;
    font-family: Gilroy !important;
    font-size: 13px !important;
    line-height: 1.30 !important;
    letter-spacing: 1.54px !important;
    color: #222222 !important;
    text-transform: uppercase !important;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}                                                                                                                                                                                          
._do_pdl4_coach_btm ul{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0px 0px 0px;
}                                                                
._do_pdl4_coach_btm ul li{
    width: 7px;
  height: 7px;
  border-radius: 3px;
  background-color: #ffffff;
  margin:0px 9px 0px 0px;
}                                                                
._do_pdl4_coach_actv{
   width: 38px !important;
  height: 5px !important;
  border-radius: 3px !important;
  background-color: #ff536e !important;
}                                                
</style>