<template>
  <div class="app-settings">
    The Settings Page is loaded.. is it working instantly? this is nice,
  </div>
</template>

<script>
export default {

  name: 'Settings',

  data () {
    return {

    };
  }
};
</script>

<style lang="css" scoped>
</style>
