<?php 
	$jsSettings = json_encode($settings); 
	echo "<script> var jsSettings =  $jsSettings  </script>";

?>

<padelracketstyleone>

	<div v-cloak>

		<div class="_do_pdl3_home" style="background-color: <?php echo $settings ['sectionBackground'] ?>;">
				<div class="_do_pdl3_home_lft">
					<div class="_do_pdl3_home_lft_top">
							<p style="color: <?php echo $settings['textOneColor'] ?>">
								<?php echo $settings['textOne']?>
							</p>
						<h3 style="color: <?php echo $settings['headingOneColor'] ?>">
								<?php echo $settings['headingOne']?>
							</h3>
							<h4 style="color: <?php echo $settings['textTwoColor'] ?>">
								<?php echo $settings['textTwo']?>
							</h4>
					</div>
					<div class="_do_pdl3_home_lft_txt">
							<p style="color: <?php echo $settings['textThreeColor'] ?>">
								<?php echo $settings['textThree']?>
							</p>
					</div>
					<div class="_do_pdl3_home_lft_btm">
							<h3 style="color: <?php echo $settings['textFourColor'] ?>">
								<?php echo $settings['textFour']?>
							</h3>
							<a href="<?php echo $settings['buttonLink'] ?>"
							style="color: <?php echo $settings['buttonTxtColor'] ?> 
							;background:<?php echo $settings['buttonBg'] ?>" >
					
							<?php echo $settings['buttonText'] ?>
							</a>
					</div>
				</div>
				<div class="_do_pdl3_home_r8">
					<div class="_do_pdl3_home_r8_img">
						<img :src="bigPic" alt="image">
					</div>
					<div class="_do_pdl3_home_r8_btm">
						<ul>
						
							<li :class="bigPic == img.image.url ? '_do_pdl3_home_active' : '' " v-if="settings.list.length" v-for="(img, i)  in settings.list" @click="changePic(img.image.url)">
								<img :src="img.image.url" alt="image">
							</li>                                    
							
							

						</ul>

						<p style="color: <?php echo $settings['textFiveColor'] ?>">
								<?php echo $settings['textFive']?>
							</p>
					</div>
				</div>
			<div class="_do_pdl3_home_icon">
				<span><i class="fas fa-angle-down"></i></span>
			</div>
		</div>

	</div>

</padelracketstyleone>        

<script type="text/javascript">



	
	console.log(jsSettings.list)
	var list = document.getElementsByTagName("padelracketstyleone");
    

        for (var i = 0; i < list.length; i++) {
            list[i].setAttribute("id", "padelracketstyleone-app-" + i);
            var app = new Vue({
            el: "#padelracketstyleone-app-" + i,
                data(){
                    return {
						settings: jsSettings,
						bigPic : ''
                    }
				},
				methods: {
					changePic(pic){
						this.bigPic = pic
					}
				},
               
                created(){
					if(this.settings.list.length){
						this.bigPic = this.settings.list[0].image.url
					}
					console.log('data is', this.settings)
				},


            })

        }
 </script>