<template>
  <div class="hello">
    <span>{{ msg }}</span>
    <button @click="changeMsg">Change msg</button>
  </div>
</template>

<script>
export default {

  name: 'Home',

  data () {
    return {
      msg: 'Welcome to Your Vue.js Frontend App tgus us buce'
    }
  }, 
  methods: {
     changeMsg(){
        this.msg = 'change the msg reactivley.....'
     }
  },
  async created(){
     console.log(divData)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
