<template>
  <div class="profile">
     this is perfect.
  </div>
</template>

<script>
export default {

  name: 'Profile',

  data () {
    return {

    };
  }
};
</script>

<style lang="css" scoped>
</style>
