<template>
   <div class="_1tv_all" style="background:black;" :style="`background-image: url('${setting.banner}');`" id="vue-frontend-app">
      <!-- Divisions -->
      <div class="_1tv_divisions">
        <ul class="_1tv_divisions_list">
          <li v-for="(d, i) in allDivs" :key="i" v-if="allDivs.length" 
            :class="div.id==d.id ? '_1tv_divisions_active' : ''"
          @click="getNewDivData(i)">{{d.divisionName}}</li>
        </ul>
      </div>
      <!-- Divisions -->

      <!-- Header -->
      <div class="_1tv_header">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-md">
                      <div class="_1tv_logo">
                          <img class="_1tv_logo_img" :src="setting.clubLogo" alt="" title="">
                          <!-- <h2>msdjgj</h2> -->
                      </div>
                  </div>

                  <div class="col-md-2 _1tv_division_all">
                      <div class="_1tv_division">
                          <h2 class="_1tv_division_name">{{div.divisionName}}</h2>
                          <p class="_1tv_division_place">{{tr.tournamentName}}</p>
                      </div>
                  </div>

                  <div class="col-md">
                      <div class="_1tv_adds_main">
                          <ul class="_1tv_adds_list">
                              <li v-for="(logo, i) in setting.sponsorLogos" v-if="setting.sponsorLogos.length" :key="i">
                                  <img class="_1tv_adds_img" :src="logo.logo" alt="" title="">
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1tv_content">
          <div class="row">
              <!-- Left Section -->
              <div class="col-md _overflow_hidden _1tv_left">
                  <h2 class="_1tv_title">STANDINGS</h2>
                  <div class="row _1tv_teams_row">
                      <!-- Teams List -->
                      <div class="col-md-auto _1tv_teams_list_all _overflow_hidden">
                          <div class="_1tv_teams_list_main">
                              <!-- Items -->
                              <div :class="currentIndex == index ? '_1tv_active  _1tv_teams_list_items _1bg' : '_1tv_teams_list_items _1bg'" 
                                  
                                v-for="(item, index) in ranks" :key="index" v-if="ranks.length" @click="currentIndex = index"
                              >
                                  <div class="_1tv_teams_list_num">
                                      <p class="_1tv_teams_list_num_text">{{index+1}}</p>
                                  </div>
                                  <div class="_1tv_teams_list_pic">
                                      <img class="_1tv_teams_list_img" :src="siteUri+item.team.player1.profilePic" alt="" title="">
                                      <img class="_1tv_teams_list_img" :src="siteUri+item.team.player2.profilePic" alt="" title="">
                                  </div>
                                  <div class="_1tv_teams_list_details"> 
                                      <p :class="ranks.length <=8 ? 'eight _text_overflow' : 'more_than_eight _text_overflow' " 
                                      
                                      >{{item.team.teamName}}</p>
                                      <p class="_1tv_teams_list_name _text_overflow">
                                        {{item.team.player1.firstName}} 
                                        &
                                        {{item.team.player2.firstName}}
                                      </p>
                                  </div>
                                  <div class="_1tv_teams_list_point">
                                      <p class="_1tv_teams_list_point_text">{{item.points}}<span class="_1tv_teams_list_point_text_span">{{item.matchePlayed}}</span></p>
                                  </div>
                              </div>
                              <!-- Items -->

                              
                          </div>
                      </div>
                      <!-- Teams List -->

                      <!-- Teams Details -->
                      <div class="col-md _1tv_team_details_all" v-if="ranks.length">
                          <div class="_1tv_team_details_main">
                              <div class="_1tv_team_details_header">
                                  <div class="_1tv_team_details_header_pic">
                                      <img class="_1tv_team_details_header_img"   :src="siteUri+ranks[currentIndex].team.player1.profilePic" alt="" title="">
                                      <img class="_1tv_team_details_header_img" :src="siteUri+ranks[currentIndex].team.player2.profilePic" alt="" title="">
                                  </div>

                                  <div class="_1tv_team_details_header_details">
                                      <p class="_1tv_team_details_rank">Rank {{currentIndex+1}}</p>
                                      <p class="_1tv_team_details_title _text_overflow">{{ranks[currentIndex].team.teamName}}</p>
                                      <p class="_1tv_team_details_name _text_overflow">
                                        {{ranks[currentIndex].team.player1.firstName}}  {{ranks[currentIndex].team.player1.lastName}} 
                                        &
                                        {{ranks[currentIndex].team.player2.firstName}}  {{ranks[currentIndex].team.player2.lastName}}
                                      </p>
                                  </div>
                              </div>

                              <div class="_1tv_team_details_results">
                                  <ul class="_1tv_team_details_list">
                                      <li>PLAYED <span>{{ranks[currentIndex].matchePlayed}}</span></li>
                                      <li>WON <span>{{ranks[currentIndex].won}}</span></li>
                                      <li>DRAW <span>{{ranks[currentIndex].draw}}</span></li>
                                      <li>LOST <span>{{ranks[currentIndex].loss}}</span></li>
                                      <li>SET <span>{{ranks[currentIndex].totalSets}}</span></li>
                                      <li>GAMES <span>{{ranks[currentIndex].totalGames}}</span></li>
                                      <li>POINTS <span>{{ranks[currentIndex].points}}</span></li>
                                  </ul>
                              </div>

                              <!-- All Cards -->
                              <div class="_1tv_team_details_cards">
                                <div class="_1tv_team_details_cards_all">
                                  <!-- Card Items -->
                                  <div class="_1tv_team_details_cards_main" 
                                      v-for="(h, i) in ranks[currentIndex].history" :key="i" v-if="ranks[currentIndex].history.length"
                                  >
                                      <div class="_1tv_2card">
                                          <p class="_1tv_2card_vs">V/S</p>

                                          <div class="_1tv_2card_details">
                                              <div class="_1tv_2card_pic">
                                                  <img class="_1tv_2card_img" :src="siteUri+h.team.player1.profilePic" alt="" title="">
                                                  <img class="_1tv_2card_img" :src="siteUri+h.team.player2.profilePic" alt="" title="">
                                              </div>

                                              <p class="_1tv_2card_title">{{h.team.teamName}}</p>
                                          </div>

                                          <div :class="h.winTxt == 'WON' ? '_1tv_won _1tv_2card_result' : h.winTxt == 'LOST' ?  '_1tv_lost _1tv_2card_result' :  h.winTxt == 'DRAW' ? '_1tv_draw _1tv_2card_result'  : 'gray _1tv_2card_result'">
                                             
                                             
                                              <p class="_1tv_2card_result_points ">
                                                  {{h.homeTeamPoint}} <span> - </span> {{h.awayTeamPoint}}
                                              </p>

                                              <p class="_1tv_2card_result_status">{{h.winTxt}}</p>
                                          </div>

                                          <div class="_1tv_2card_points">
                                            <template v-if="h.winTxt !='Upcoming'">
                                                <p class="_1tv_2card_points_text">
                                                  {{h.setOne ? h.setOne.split("-")[0] : "-"}} <span> - </span> {{h.setOne ? h.setOne.split("-")[1] : "-"}}
                                              </p>

                                              <p class="_1tv_2card_points_text">
                                                 {{h.setTwo ? h.setTwo.split("-")[0] : "-"}} <span> - </span> {{h.setTwo ? h.setTwo.split("-")[1] : "-"}}
                                              </p>

                                             

                                              <p class="_1tv_2card_points_text">
                                                  {{h.setThree ? h.setThree.split("-")[0] : "-"}} <span> - </span> {{h.setThree ? h.setThree.split("-")[1] : "-"}}
                                              </p>
                                            </template>
                                            <template v-if="h.winTxt =='Upcoming'">
                                                <p class="_1tv_2card_points_text_two">
                                                   {{h.playingDate}}
                                                </p>
                                            </template>
                                               
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Card Items -->
                                </div>
                              </div>
                              <!-- All Cards -->
                          </div>
                      </div>
                      <!-- Teams Details -->
                  </div>
              </div>
              <!-- Left Section -->

              <!-- Right Section -->
              <div class="col-md-auto _overflow_hidden _1tv_right">
                  <h2 class="_1tv_title">TODAY'S MATCHES</h2>

                  <div class="row _1tv_card_main_all">
                      <!-- Card -->
                      <div class="col-md-6 _1tv_card_main" v-for="(m, index) in matches" :key="index" v-if="matches.length">
                          <div class="_1tv_card _1bg _border_radious">
                             <div class="_1tv_card_teams_main">
                                  <div class="_1tv_card_teams">
                                     <p class="_1tv_card_title _text_right">{{m.home.teamName}}</p>

                                      <div class="_1tv_card_player_main">
                                          <div class="_1tv_card_player">
                                             <p class="_1tv_card_player_name _text_overflow2 _text_right">{{m.home.player1.firstName}}</p>
                                             <img class="_1tv_card_player_img _mar_l10" :src="siteUri+m.home.player1.profilePic" alt="" title="">
                                          </div>

                                          <div class="_1tv_card_player">
                                             <p class="_1tv_card_player_name _text_overflow2 _text_right">{{m.home.player2.firstName}}</p>
                                             <img class="_1tv_card_player_img _mar_l10" :src="siteUri+m.home.player2.profilePic" alt="" title="">
                                          </div>
                                      </div>
                                 </div>

                                 <div class="_1tv_card_teams">
                                     <p class="_1tv_card_title">{{m.away.teamName}}</p>

                                     <div class="_1tv_card_player_main">
                                          <div class="_1tv_card_player">
                                             <img class="_1tv_card_player_img _mar_r10" :src="siteUri+m.away.player1.profilePic" alt="" title="">
                                              <p class="_1tv_card_player_name _text_overflow2">{{m.away.player1.firstName}}</p>
                                          </div>

                                          <div class="_1tv_card_player">
                                             <img class="_1tv_card_player_img _mar_r10" :src="siteUri+m.away.player2.profilePic" alt="" title="">
                                             <p class="_1tv_card_player_name _text_overflow2">{{m.away.player2.firstName}}</p>
                                          </div>
                                     </div>
                                 </div>

                                 <div class="_1tv_card_vs">
                                     <p class="_1tv_card_vs_text">VS</p>
                                 </div>
                             </div>

                             <div class="_1tv_card_results _2bg" v-if="m.over=='1'">
                                 <p class="_1tv_card_results_text">{{m.homeTeamPoint}} <span class="_1tv_card_results_span">-</span> {{m.awayTeamPoint}}</p>
                             </div>
                             <div class="_1tv_card_results _2bg _1tv_court" v-else>
                                 <p class="_1tv_card_results_text">{{m.court.courtName}} <span class="_1tv_card_results_span">|</span> {{m.playingTime}}</p>
                             </div>
                          </div>
                      </div>
                      <!-- Card -->
                  </div>
              </div>
              <!-- Right Section -->
          </div>
      </div>
      <!-- Main Content -->
  </div>
</template>


<script>
export default {
  props: ["lid"],
  data() {
    return {
        ranks: divData.ranks, 
        matches: divData.matches,
        currentIndex: 0, 
        div: divData.div, 
        allDivs: divData.allDivs,
        tr: divData.tr,
        setting: divData.setting, 
        // paddingb: 'padding: 19px 2px 17px;',
        // paddings: 'padding: 27px 0px 25px;',
        paddingb: 'padding: 19px 2px 17px;',
        paddings: 'padding: 8px 0px 7px;',
        isLoadingData: false,
        
    };
  },
  methods : {
    getNewDivData(index){
        this.div = this.allDivs[index]
        this.loadDivisionData(this.allDivs[index].id)
    }, 
    async loadDivisionData(id){
        this.isLoadingData = true 
        
        const res = await this.callApi('get', `${this.siteUri}/widget/web-get-division-data/${id}`)
        if(res.status===200){
            this.ranks = res.data.ranks
            this.matches = res.data.matches
        }else{
            alert('There was a problem loading the data, please again later or contact us!')
        }
        this.isLoadingData = false
    }
  },
  async created() {
    
  //  const res = await this.callApi('get', `${this.siteUri}/widget/web-display-byDivision/${this.lid}`)
  //   if(res.status===200){
  //      this.allDivs = res.data.allDivs
  //      this.setting = res.data.setting
  //      this.ranks = res.data.ranks
  //      this.matches = res.data.matches
  //      this.div = res.data.div 
  //      this.tr = res.data.tr 
       
       

  //   }else{
  //      alert('Something went wrong while loading the data.')
  //   }

    
  }
}
</script>
