
@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-ExtraBold.otf');
}
body,p{
 font-family: Gilroy !important;
}

/*START SHAKIL*/

/*DO PADEL PAGE-1 INFO*/
._do_pdl_info_sec{
  min-height: 1000px;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
._do_pdl_info_sec:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
background: -o-linear-gradient(left, #111111 27%, rgba(17, 17, 17, 0.2) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(27%, #111111), to(rgba(17, 17, 17, 0.2)));
background: linear-gradient(to right, #111111 27%, rgba(17, 17, 17, 0.2) 100%);
}
._do_pdl_info{
padding-left: 100px;
}
._do_pdl_info h3{
 font-family: Gilroy !important;
line-height: 1.20;
color: #ffffff;
font-size: 54px;
font-weight: bold;
margin: 0px 0px 20px 0px;
}
._do_pdl_info p{
  font-family: Gilroy !important;
  font-size: 36px;
  line-height: 1.29;
  color: #ffffff;
  margin: 0;
}
._do_pdl_info a{
 text-decoration: none !important;
 background: #ff536e;
 font-family: Gilroy !important;
 font-size: 21px;
 margin-top:100px;
 text-transform: uppercase;
 font-weight: bold;
 line-height: 1.21;
 text-align: center;
 color: #ffffff;
 border-radius: 35px;
 padding: 19px 35px;
 display: inline-block;
 -webkit-transition: 0.3s ease all;
 -o-transition: 0.3s ease all;
 transition: 0.3s ease all;
}
._do_pdl_info a:hover{
  background: #fd2b4c;
}
/*DO PADEL PAGE-1 INFO END*/

/*DO PADEL PAGE-1 HOME*/
._do_pdl_home_sec{
  background: #000;
  padding: 80px 60px;
}
._do_pdl_home_titl{
  margin-bottom: 50px;
}
._do_pdl_home_titl h3{
  font-family: Gilroy !important;
  font-size: 137px;
  font-weight: bold;
  line-height: 1.21;
  margin: 0px;
  color: #fff;
  text-align: center;
  letter-spacing: 30px;
}
._do_pdl_home_main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl_home_card{
  margin-right: 24px;
  position: relative;
  border-radius: 20px;
  width: 25%;
  height: 512px;
  overflow: hidden;
}
._do_pdl_home_card:nth-child(even){
  margin-top: 50px;
}
._do_pdl_home_card:after{
  position: absolute;
  content: '';
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
._do_pdl_home_card:last-child{
  margin-right: 0px;
}
._do_pdl_home_card img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    display: block;
    border-radius: 20px !important;
}
._do_pdl_home_card_titl{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
._do_pdl_home_card_titl h3{
   font-family: Gilroy !important;
   font-size: 65px;
   font-weight: bold;
   line-height: 1.21;
   margin: 0;
   color: #fff;
}

/*DO News Page*/

._do_pdl_nws_sec {
  background: #fff;
  padding: 115px 40px 115px 80px;
}
._do_pdl_nws_titl{
margin-bottom: 20px;
}
._do_pdl_nws_titl h3{
font-family: Gilroy !important;
font-size: 54px;
font-weight: bold;
line-height: 1.61;
color: #222222;
margin: 0;
}
._do_pdl_nws_main{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
._do_pdl_nws_card{
border-radius: 17px;
margin-right: 24px;
height: 400px;
width: 33.33%;
position: relative;
overflow: hidden;
width: 540px;
}
._do_pdl_nws_card:after{
    position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.03405112044817926) 49%, rgba(0, 0, 0, 0.8379726890756303) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49%, rgba(0, 0, 0, 0.03405112044817926)), to(rgba(0, 0, 0, 0.8379726890756303)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.03405112044817926) 49%, rgba(0, 0, 0, 0.8379726890756303) 100%);
}
._do_pdl_nws_card img{
-o-object-fit: cover;
   object-fit: cover;
width: 100%;
height: 100% !important;
display: block;
border-radius: 20px !important;
}
._do_pdl_nws_crd_info{
position: absolute;
bottom: 25px;
left: 25px;
right: 15px;
z-index: 1;
}
._do_pdl_nws_dte{
font-family: Gilroy !important;
font-size: 18px;
line-height: 1.30;
color: #fffc;
margin: 0px 0px 9px;
text-transform: uppercase;
}
._do_pdl_nws_txt{
margin: 0;
font-family: Gilroy !important;
font-size: 24px;
font-weight: bold;
line-height: 1.33;
color: #ffffff;
}




._do_pdl_trvl_sec{
  padding: 120px 120px 120px 80px;
   background: #111111;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
._do_pdl_trvl_lft{
  width: 35%;
}
._do_pdl_trvl_lft_inr{
    padding-right: 80px;
}
._do_pdl_trvl_lft h3{
  font-family: Gilroy !important;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.61;
  color: #ffffff;
  margin: 0px 0px 0px;
}
._do_pdl_trvl_lft h4{
  font-family: Gilroy !important;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.61;
  color: #ffffff;
   margin: 0px 0px 65px;
}
._do_pdl_trvl_lft p{
  font-family: Gilroy !important;
  font-size: 20px;
  line-height: 2.15;
  color: #ffffff;
  margin: 0px 0px 65px;
  padding-right: 80px;
}
._do_pdl_trvl_lft a{
   text-decoration: none !important;
   background: #ff536e;
   font-family: Gilroy !important;
   font-size: 21px;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 1.21;
   text-align: center;
   color: #ffffff;
   border-radius: 35px;
   padding: 22px 27px;
   display: inline-block;
   -webkit-transition: 0.3s ease all;
   -o-transition: 0.3s ease all;
   transition: 0.3s ease all;
}
._do_pdl_trvl_lft a:hover{
  background: #fd2b4c;
}
._do_pdl_trvl_r8{
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}
._do_pdl_trvl_card{
  position: relative;
  margin-right: 2px;
  height: 452px;
  width: 33.33%;
}
._do_pdl_trvl_card:after{
  position: absolute;
  content: '';
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
  background-color: #000000d4;
}
._do_pdl_trvl_card img{
    -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100% !important;
  display: block;
  
}
._do_pdl_trvl_info{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  text-align: center;
  z-index: 1;
}
._do_pdl_trvl_info h3{
   margin: 0px;
  font-family: Gilroy !important;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.21;
  color: #ffffff;
}
._do_pdl_trvl_info ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
._do_pdl_trvl_info ul li{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  margin-right: 15px;
}
._do_pdl_trvl_info ul li:last-child{
  margin-right: 0px;
}
._do_pdl_trvl_info ul li:after {
    position: absolute;
    content: '';
    top: 7px;
    right: -8px;
    width: 1px;
    height: 19px;
    background: #fff;
}
._do_pdl_trvl_info ul li:last-child:after{
  width: 0px;
}
._do_pdl_trvl_card_btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
._do_pdl_trvl_card_btn a{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #333333;
  text-decoration: none !important;
  background: #fff;
  border-radius: 35px;
  padding: 13px 24px;
  display: inline-block;
}
._do_pdl_trvl_r8 ._do_pdl_trvl_card:first-child img{
 border-top-left-radius: 20px !important;
 border-bottom-left-radius: 20px !important;
}
._do_pdl_trvl_r8 ._do_pdl_trvl_card:last-child img{
  border-top-right-radius: 20px !important;
 border-bottom-right-radius: 20px !important;
}



/*DO PADEL PAGE-1 VIDEO*/
._do_pdl_video_sec{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111111;
  padding: 200px 170px 200px 80px;
}
._do_pdl_video_info{
  width: 37%;
}
._do_pdl_video_inner{
  padding-right: 40px;
}
._do_pdl_video_info h3{
  font-family: Gilroy !important;
  line-height: 1.20;
  color: #ffffff;
  font-size: 54px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}
._do_pdl_video_info p{
    font-family: Gilroy !important;
    font-size: 36px;
    line-height: 1.29;
    color: #ffffff;
    margin: 0;
}
._do_pdl_video_info a{
   text-decoration: none !important;
   background: #ff536e;
   font-family: Gilroy !important;
   font-size: 21px;
   margin-top:100px;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 1.21;
   text-align: center;
   color: #ffffff;
   border-radius: 35px;
   padding: 19px 35px;
   display: inline-block;
   -webkit-transition: 0.3s ease all;
   -o-transition: 0.3s ease all;
   transition: 0.3s ease all;
}
._do_pdl_video_info a:hover{
   background: #fd2b4c;
}
._do_pdl_video_main{
  width: 63%;
}
._do_pdl_video{
    height: 100%;
    position: relative;
    height: 623px;
}
._do_pdl_video:after{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
._do_pdl_video img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100% !important;
  display: block;
  border-radius: 20px !important;
}
._do_pdl_video span{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: #fff;
  z-index: 1;
  font-size: 85px;
  cursor: pointer;
}
/*DO PADEL PAGE-1 VIDEO END*/


/*DO PADEL PAGE-1 RACKET*/
._do_pdl_all_racket_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 200px 70px 0px 80px;
  height: 660px;
  overflow: hidden;
}
._do_pdl_all_rckt_lft{
width: 35%;
}
._do_pdl_all_rckt_top ul{
margin: 0px 0px 60px 0px;
padding: 0;
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
._do_pdl_all_rckt_top ul li{
margin-right: 8px;
}
._do_pdl_all_rckt_top ul li a{
font-family: Gilroy !important;
font-size: 18px;
line-height: 1.29;
color: #666666;
background: #ffeaed;
display: inline-block;
border-radius: 10px;
text-decoration: none !important;
padding: 10px 21px;
}
._do_pdl_all_rckt_btm p{
    font-family: Gilroy !important;
    font-size: 36px;
    line-height: 1.29;
    color: #222222;
    margin: 0px 0px 5px 0px;
}
._do_pdl_all_rckt_btm h3{
font-family: Gilroy !important;
line-height: 1.20;
color: #222222;
font-size: 54px;
font-weight: bold;
margin: 0;
}
._do_pdl_all_rckt_btm a{
   text-decoration: none !important;
  background: #ff536e;
  font-family: Gilroy !important;
  font-size: 21px;
  margin-top: 52px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;
  border-radius: 35px;
  padding: 19px 35px;
  display: inline-block;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
._do_pdl_all_rckt_btm a:hover{
 background: #fd2b4c;
}
._do_pdl_all_rckt_r8{
width: 65%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
._do_pdl_all_rckt_clm:nth-child(1){
margin-top:185px;
}
._do_pdl_all_rckt_clm:nth-child(2){
margin-top:83px;
}
._do_pdl_all_rckt_clm:nth-child(3){
margin-top:-20px;
}
._do_pdl_all_rckt_clm:nth-child(4){
margin-top:83px;
}
._do_pdl_all_rckt_clm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}
._do_pdl_all_rckt_img_sngl{
height: 320px;
background: #F2DCDC;
margin-right: 16px;
border-radius: 20px;
text-align: center;
padding: 33px 35px 15px 35px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
margin-bottom: 16px;
}
._all_rckt_clr_2{
background: -o-linear-gradient(top, #e3f5d7, #e5f0e1);
background: -webkit-gradient(linear, left top, left bottom, from(#e3f5d7), to(#e5f0e1));
background: linear-gradient(to bottom, #e3f5d7, #e5f0e1);
}
._all_rckt_clr_3{
background: -o-linear-gradient(top, #f0f0f0, #e8e8e8);
background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e8e8e8));
background: linear-gradient(to bottom, #f0f0f0, #e8e8e8);
}
._do_pdl_all_rckt_logo{
width: 126px;
height: 32px;
padding-bottom: 15px;
margin: 0 auto;
}
._do_pdl_all_rckt_logo img{
-o-object-fit: cover;
object-fit: contain;
width: 100%;
height: 100% !important;
display: block;
}
._do_pdl_all_rckt_img{height: 220px;}
._do_pdl_all_rckt_img img{
-o-object-fit: cover;
object-fit: cover;
width: 100%;
height: 100% !important;
display: block;
}
/*DO PADEL PAGE-1 RACKET END*/
/*DO PADEL PAGE-1 RACKET END*/



/*DO PADEL PAGE-2 HOME*/
._do_pdl2_home_sec{
  height:100vh;
  /* min-height: 1000px;*/
  background-size: cover;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;                        
  -ms-flex-direction: column;
  flex-direction: column;                                                                                                                                            
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
._do_pdl2_home_info_inner {
 padding-right: 230px;                                            
 padding-bottom: 100px;
}
._do_pdl2_home_info {                                                             
 width: 45%;
}
._do_pdl2_home_pre_hdr p{
  font-family: Gilroy !important;
font-size: 20px !important;
line-height: 1.30 !important;
color: #222222;
margin: 0px 0px 20px 0px !important;
}
._do_pdl2_home_info h3{
font-family: Gilroy !important;
font-size: 64px;
font-weight: bold;
line-height: 1.13;
color: #222222;
margin: 0px 0px 35px 0px;
}
._do_pdl2_home_info p{
font-family: Gilroy !important;
font-size: 20px;
line-height: 1.75;
color: #222222;
margin: 0;
}
._do_pdl2_home_info a{
text-decoration: none !important;
 background: #222222;
 font-family: Gilroy !important;
 font-size: 21px;
 margin-top: 52px;
 text-transform: uppercase;
 font-weight: bold;
 line-height: 1.21;
 text-align: center;
 color: #ffffff;
 border-radius: 35px;
 padding: 19px 35px;
 display: inline-block;
 -webkit-transition: 0.3s ease all;
 -o-transition: 0.3s ease all;
 transition: 0.3s ease all;
}
._do_pdl2_home_info a:hover{
background: red;
}
/*DO PADEL PAGE-2 HOME END*/

._do_pdl2_schdule_sec{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 135px 139px 95px;
  background: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._do_pdl2_schdule_lft{
  width: 35%;
}
._do_pdl2_schdule_lft_inner{
  padding-right: 80px;
}
._do_pdl2_schdule_lft p{
  font-family: Gilroy !important;
  font-size: 39px;
  line-height: 1.29;
  margin: 0px 0px 8px 0px;
  color: #ffffff;
}
._do_pdl2_schdule_lft h3{
    font-family: Gilroy !important;
    line-height: 1.20;
    color: #ffffff;
    font-size: 54px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
._do_pdl2_schdule_r8{
   width: 65%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}
._do_pdl2_schdule_crd{
   width: 33.33%;
}
._do_pdl2_schdule_crd_inner{
  background: #5f7f90;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  height: 160px;
  padding: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
._do_pdl2_schdule_crd_inner p{
  font-family: Gilroy !important;
  font-size: 28px;
  line-height: 1.29;
  color: #ffffff;
  margin: 0;
}
._do_pdl2_schdule_crd_inner h3{
   font-family: Gilroy !important;
   font-size: 32px;
   line-height: 1.29;
   font-weight: bold;
   color: #ffffff;
   margin: 0;
}
._do_pdl2_scdl_clr_2{
  background: #3c5d54;
}
._do_pdl2_scdl_clr_3{
  background: #7b7062;
}
._do_pdl2_scdl_clr_4{
  background: #604f42;
}
._do_pdl2_scdl_clr_5{
  background: #714040;
}
/*DO PADEL PAGE-2 SCHEDULE END*/


._do_pdl_glry_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 150px 100px 150px 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._do_pdl_glry_info{
  width: 40%;
}
._do_pdl_glry_info_inner{
 padding-right: 50px;
}
._do_pdl_glry_info h3 {
  font-family: Gilroy !important;
  line-height: 1.20;
  color: #222222;
  font-size: 54px;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
}
._do_pdl_glry_info p{
  margin: 0px;
  font-family: Gilroy !important;
  font-size: 20px;
  line-height: 1.8;
  color: #222222;
}
._do_pdl_glry_info a{
  text-decoration: none !important;
  background: #ff536e;
  font-family: Gilroy !important;
  font-size: 21px;
  margin-top: 52px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;
  border-radius: 35px;
  padding: 19px 35px;
  display: inline-block;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
._do_pdl_glry_info a:hover{
 background: #fd2b4c;
}
._do_pdl_glry_all_img {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
._do_pdl_glry_sngl_img{
 margin-right: 4px;
 margin-bottom: 4px;
}
._do_pdl_glry_sngl_img:nth-child(1){
width: 425px;
height: 425px;
}
._do_pdl_glry_sngl_img:nth-child(2) {
  width: 351px;
  height: 352px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
._do_pdl_glry_sngl_img:nth-child(3) {
  width: 352px;
  height: 352px;
  margin-left: 14px;
}
._do_pdl_glry_sngl_img:nth-child(4){
width: 293px;
height: 293px;
}
._do_pdl_glry_sngl_img:nth-child(1) img{
border-top-left-radius: 20px;
}
._do_pdl_glry_sngl_img:nth-child(2) img{
border-top-right-radius: 20px;
}
._do_pdl_glry_sngl_img:nth-child(3) img{
border-bottom-left-radius: 20px;
}
._do_pdl_glry_sngl_img:nth-child(4) img{
border-bottom-right-radius: 20px;
}
._do_pdl_glry_sngl_img img{
 -o-object-fit: cover;
object-fit: cover;
width: 100%;
height: 100% !important;
display: block;
}
/*DO PADEL PAGE-1 GALLERY END*/

/*DO PADEL PAGE-2 UPCOMING TRIPS*/
._do_pdl2_trips{
  padding: 150px 40px 150px 80px;
  background: #ffff;
}
._do_pdl2_trips_top{}
._do_pdl2_trips_top h3{
  font-family: Gilroy !important;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.29;
  color: #222222;
  margin: 0px 0px 35px 0px;
}
._do_pdl2_trips_crd_all{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
._do_pdl2_trips_crd{
  width: 25%;
}
._do_pdl2_trips_crd_inner{
  margin-right: 20px;
  height: 560px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
._do_pdl2_trips_crd_inner img{
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 100% !important;
   display: block;
   border-radius: 20px !important;
}
._do_pdl2_trips_crd_dte{
  border-radius: 14px;
  background: #fff;
  padding: 8px 20px 5px;
  position: absolute;
  top: 25px;
  left: 25px;
  text-align: center;
}
._do_pdl2_trips_crd_dte h3{
  font-family: Gilroy !important;
  font-size: 36px;
  font-weight: bold;
  line-height:1.29;
  color: #222222;
  margin: 0;
  padding: 5px 0px 4px;
}
._do_pdl2_trips_mnth{
  font-family: Gilroy !important;
  font-size: 20px;
  line-height:1.29;
  color: #222222;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #222;
}
._do_pdl2_trips_day{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
}
._do_pdl2_trips_crd_btm{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: -1px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: -1px;
  left: -1px;
  background-color: #eeeeeeed;
  padding: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
._do_pdl2_trips_name h3{
  font-family: Gilroy !important;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.29;
  color: #222222;
  margin: 0px 0px 8px 0px;
}
._do_pdl2_trips_name ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl2_trips_name ul li{
  margin-right: 20px;
  position: relative;
  font-family: Gilroy !important;
  font-size: 20px;
  line-height: 1.29;
  color: #222222;
}
._do_pdl2_trips_name ul li:first-child{
 text-transform:capitalize
}
 ._do_pdl2_trips_name ul li:last-child{
 text-transform:uppercase
}
._do_pdl2_trips_name ul li:after{
  position: absolute;
  content: '';
  top: 2px;
  right: -11px;
  background: #000;
  width: 1px;
  height: 20px;
}
._do_pdl2_trips_name ul li:last-child:after{
  width: 0;
}
._do_pdl2_trips_pymnt{}
._do_pdl2_trips_pymnt a{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.29;
  color: #ffffff;
  display: inline-block;
  text-decoration: none !important;
  background: #222222;
  border-radius: 35px;
  padding: 11px 19px;
  text-transform: uppercase;
}
._do_pdl2_trips_btm_clr_2 {
    background-color: #655741f7;
}
._do_pdl2_trips_btm_clr_2 ._do_pdl2_trips_pymnt a {
    background: #ffffff;
    color: #222;
}
._do_pdl2_trips_btm_clr_2 ._do_pdl2_trips_name h3{
  color: #fff;
}
._do_pdl2_trips_btm_clr_2 ._do_pdl2_trips_name ul li{
  color: #fff;
}
._do_pdl2_trips_btm_clr_2 ._do_pdl2_trips_name ul li:after{
 background: #fff;
}
/*DO PADEL PAGE-2 UPCOMING TRIPS END*/

/*DO PADEL PAGE-2 TRAVEL SPOT*/
._do_pdl2_trvl_spot_sec{
  padding: 75px 40px 40px 67px;
  background: #fff;
}
._do_pdl2_trvl_spot_top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
._do_pdl2_trvl_spot_top h3{
    font-family: Gilroy !important;
    font-size: 54px;
    font-weight: bold;
    line-height: 1.29;
    color: #222222;
    margin: 0px 0px 15px 0px;
}
._do_pdl2_trvl_spot_top p{
    margin: 0;
    font-family: Gilroy !important;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background-color: #fb536e;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 22px;
    border-radius: 35px;
    cursor: pointer;
}
._do_pdl2_trvl_top_r8 ul{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    border: 1px solid #222222;
    border-radius: 10px;
    overflow: hidden;
}
._do_pdl2_trvl_top_r8 ul li{
    font-family: Gilroy !important;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    color: #222222;
    padding: 10px 20px;
    cursor: pointer;
}
._do_pdl2_trvl_top_r8 ul li:nth-child(1){
  position: relative;
  padding-right: 20px;
}
._do_pdl2_trvl_top_r8 ul li:nth-child(2){
  padding-left: 20px;
}
._do_pdl2_trvl_top_r8 ul li:first-child:after {
    position: absolute;
    content: '';
    top: 0;
    right: -18px;
    border-right: 19px solid transparent;
    border-top: 50px solid white;
}
._do_pdl2_trvl_actv_grd{
  background: #222222;
  color: #fff !important;
}
._do_pdl2_trvl_actv_grd:after {
    border-top: 53px solid #222222 !important;
}
._do_pdl2_trvl_crd_all{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
._do_pdl2_trvl_crd{
  width: 33.33%;
}
._do_pdl2_trvl_crd_inner{
  margin: 0px 8px 8px 0px;
  height: 420px;
  position: relative;
}
._do_pdl2_trvl_crd_inner:after{
  position: absolute;
  content:'';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #000;
  opacity: 0.2;
}
._do_pdl2_trvl_crd img{
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 100% !important;
   display: block;
}
._do_pdl2_trvl_crd_info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 30px;
  right: 30px;
}
._do_pdl2_trvl_crd_info_lft p{
    margin: 0;
    font-family: Gilroy !important;
    font-size: 24px;
    line-height: 1.29;
    color: #ffffff;
    opacity: 0;
}
._do_pdl2_trvl_crd_info_lft h3 {
    font-family: Gilroy !important;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.21;
    color: #ffffff;
    margin: 0px 0px 20px 0px;
}
._do_pdl2_trvl_crd_info_lft a{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #333333;
  display: inline-block;
  text-decoration: none !important;
  background: #fff;
  border-radius: 35px;
  padding: 10px 20px;
}
._do_pdl2_trvl_crd_info_r8 {
    text-align: right;
    opacity: 0;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
}
._do_pdl2_trvl_info_r8_top{
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
._do_pdl2_trvl_info_r8_top p{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  margin: 0;
}
._do_pdl2_trvl_info_r8_top span{
  font-weight: normal;
}
._do_pdl2_trvl_info_r8_btm{}
._do_pdl2_trvl_info_r8_btm ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
._do_pdl2_trvl_info_r8_btm ul li{
  margin-bottom: 5px;
  font-family: Gilroy !important;
  font-size: 16px;
  line-height: 1.29;
  color: #ffffff;
}
._do_pdl2_trvl_crd_inner:hover:before{
  position: absolute;
  content:'';
  top: 0;                    
  left: 0;                       
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #000;
  opacity: 0.4;
}
._do_pdl2_trvl_crd_inner:hover ._do_pdl2_trvl_crd_info_r8{
  opacity: 1;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
   -webkit-transform: translateY(0px);
       -ms-transform: translateY(0px);
           transform: translateY(0px);
}
._do_pdl2_trvl_crd_inner:hover ._do_pdl2_trvl_crd_info_lft p{
  opacity: 1;
   -webkit-transition: 0.4s ease all;
   -o-transition: 0.4s ease all;
   transition: 0.4s ease all;
}
._do_pdl2_trvl_crd:nth-child(1) img{
  border-top-left-radius: 20px;
}
._do_pdl2_trvl_crd:nth-child(1) ._do_pdl2_trvl_crd_inner:after{
   border-top-left-radius: 20px;
}
._do_pdl2_trvl_crd:nth-child(3) img{
  border-top-right-radius: 20px;
}
._do_pdl2_trvl_crd:nth-child(3) ._do_pdl2_trvl_crd_inner:after{
    border-top-right-radius: 20px;
}
._do_pdl2_trvl_crd:nth-child(4) img{
  border-bottom-left-radius: 20px;
}
._do_pdl2_trvl_crd:nth-child(4) ._do_pdl2_trvl_crd_inner:after{
  border-bottom-left-radius: 20px;
}
._do_pdl2_trvl_crd:nth-child(6) img{
  border-bottom-right-radius: 20px;
}
._do_pdl2_trvl_crd:nth-child(6) ._do_pdl2_trvl_crd_inner:after{
  border-bottom-right-radius: 20px;
}
/*DO PADEL PAGE-2 TRAVEL SPOT END*/

/*DO PADEL PAGE-3 RACKET DETAILS LIST*/
._do_pdl3_rckt_dtls_list{
padding: 70px 0px 60px 0px;
background: #222222;
}
._do_pdl3_rckt_dtls_list ul{
list-style: none;
padding: 0;
margin: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
._do_pdl3_rckt_dtls_list ul li {
  margin-right: 85px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._do_pdl3_rckt_dtls_list ul li span{
width: 72px;
height: 54px;
background: #363636;
font-family: Gilroy;
font-size: 20px;
font-weight: bold;
line-height: 1.29;
letter-spacing: normal;
color: #ffffff;
border-radius: 8px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
text-transform: uppercase;
}
._do_pdl3_rckt_dtls_list ul li p{
margin: 10px 0px 0px 0px;
font-family: Gilroy;
font-size: 18px;
font-weight: bold;
line-height: 1.29;
color: #ffffff;
}
/*DO PADEL PAGE-3 RACKET DETAILS LIST END*/

/*DO PADEL PAGE-3 RACKET DETAILS */
._do_pdl3_rckt_dtls{
padding: 135px 110px 110px 105px;
background: #fff;
}
._do_pdl3_rckt_dtls_top{
  margin-bottom: 33px;
}
._do_pdl3_rckt_dtls_top p{
font-family: Gilroy;
font-size: 30px;
font-weight: 600;
line-height: 1.29;
color: #222222;
margin: 0;
background: #eeeeee;
border-radius: 12px;
padding: 10px 20px;
width: -webkit-max-content;
width: -moz-max-content;
width: max-content;
}
._do_pdl3_rckt_dtls_inner{
border-radius: 36px;
background-color: #fffaf2;
padding: 100px 0px 0px 100px;
}
._do_pdl3_rckt_dtls ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
list-style: none;
padding: 0;
margin: 0;
}
._do_pdl3_rckt_dtls ul li{
width: 16.6666%;
/* height: 150px; */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
/* align-items: center; */
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
._do_pdl3_rckt_dtls ul li p{
margin: 0px 0px 5px 0px;
font-family: Gilroy;
font-size: 20px;
line-height: 1.29;
color: #222222;
}
._do_pdl3_rckt_dtls ul li h3{
margin: 0;
font-family: Gilroy;
font-size: 30px;
font-weight: bold;
line-height: 1.40;
color: #222222;
}
._do_pdl3_rckt_dtls_box{
  text-align: left;
  padding-right: 40px;
  height: 100%;
  padding-bottom: 100px;
}
/*DO PADEL PAGE-3 RACKET DETAILS END*/

/*DO PADEL PAGE-3 RACKET DETAILS TXT*/
._do_pdl3_rckt_dtls_txt {
  padding: 70px 0px 70px 105px;
}
._do_pdl3_rckt_dtls_txt_main{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
._do_pdl3_rckt_dtls_txt_sngl{
width: 50%;
}
._do_pdl3_rckt_dtls_txt_sngl:nth-child(1){
padding-right: 100px;
}
._do_pdl3_rckt_dtls_txt_sngl:nth-child(2){
 padding-left: 100px;
}
._do_pdl3_rckt_dtls_txt_sngl p{
 margin: 0;
 font-family: Gilroy;
 font-size: 20px;
 line-height: 2.1;
 color: #222222;
 font-family: 'Sharp', sans-serif;
}
._do_pdl3_rckt_dtls_txt_sngl span{
font-weight: bold;
font-size: 40px;
width: 48px;
height: 69px;
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;            
-webkit-box-align: center;            
    -ms-flex-align: center;            
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
position: relative;
}
/*DO PADEL PAGE-3 RACKET DETAILS TXT END*/

/*DO PADEL PAGE-3 ADDITIONAL INFORMATION*/
._do_pdl3_rckt_dtls_img{
  padding: 50px 110px 110px 105px;
}
._do_pdl3_dtls_img_itm_all{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl3_rckt_dtls_img_top{
  margin-bottom: 40px;
}          
._do_pdl3_rckt_dtls_img_top h3{
    font-family: Gilroy !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.29;
    color: #222222;
    margin: 0;
    background: #eeeeee;
    border-radius: 12px;
    padding: 10px 20px;                          
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
._do_pdl3_dtls_img_itm{
  width: 50%;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;                    
  height: 540px;
  border-radius: 24px; 
  overflow: hidden;
}
._do_pdl3_dtls_img_itm:last-child{
  margin-right: 0px;
}
._do_pdl3_dtls_img_itm:after{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 48%, #000000 83%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, rgba(0, 0, 0, 0.2)), color-stop(83%, #000000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 48%, #000000 83%);
  z-index: 0;
  border-radius: 24px;
}
._do_pdl3_dtls_img_itm img{
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 100% !important;
   display: block;
   border-radius: 24px;
}
._do_pdl3_dtls_img_itm_txt{
   position: absolute;
   bottom: 30px;
   left: 50px;
   right: 40px;
   z-index: 1;
}
._do_pdl3_dtls_img_itm_txt p{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  color: #ffffff;
  margin:0;
}
._do_pdl3_dtls_img_btm{
  height: 878px;
  position: relative;
}
._do_pdl3_dtls_img_btm img{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    display: block;
    border-radius: 24px !important;
}
._do_pdl3_dtls_img_btm:after{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 48%, #000000 83%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, rgba(0, 0, 0, 0.2)), color-stop(83%, #000000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 48%, #000000 83%);
  z-index: 0;
  border-radius: 24px;
}
._do_pdl3_dtls_btm_itm_txt{
   position: absolute;
   bottom: 30px;
   left: 50px;
   right: 40px;
   z-index: 1;
}
._do_pdl3_dtls_btm_itm_txt p{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  color: #ffffff;
  margin:0;
}


._do_pdl3_pepl_view_sec{
  padding: 165px 70px 100px 105px;
  background: #111111;
}
._do_pdl3_pepl_view_top{
  margin-bottom: 40px;
}
._do_pdl3_pepl_view_top h3{
      font-family: Gilroy !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.29;
    color: #222222;
    margin: 0;
    background: #eeeeee;
    border-radius: 12px;
    padding: 10px 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
._do_pdl3_pepl_view_card_all{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
._do_pdl3_pepl_view_card{
  width:33.33%;
}
._do_pdl3_pepl_view_card_inner{
   margin-right: 45px;
   margin-bottom: 30px;
   border-radius: 24px;
}
._do_pdl3_pepl_view_card_top{
  background: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  /* width: 404px; */
  height: 404px;
  padding: 30px;
}
._do_pdl3_pepl_view_card_top img{
   -o-object-fit: contain;
      object-fit: contain;
   width: 100%;
   height: 100% !important;
   display: block;
}
._do_pdl3_pepl_view_card_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom-left-radius: 24px;
}
._do_pdl3_pepl_view_info_lft{
  background: #ddf1ff;
  padding: 25px 26px;
  border-bottom-left-radius: 24px;
  width: 65%;
}
._do_pdl3_pepl_view_info_lft h3{
  margin:0px;
  font-family: Gilroy !important;
  font-size: 29px;
  font-weight: bold;
  line-height: 1.31;
  color: #222222;
}
._do_pdl3_pepl_view_info_txt2{
    margin: 5px 0px 0px 0px;
  font-family: Gilroy !important;
  font-size: 24px;
  line-height: 1.31;
  color: #222222;
}
._do_pdl3_pepl_view_info_txt1 {
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0px 0px 14px 0px;
  color: #222222;
  border-radius: 10px;
  border: solid 2px #222222;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  padding: 4px 4px;
}
._do_pdl3_pepl_view_info_r8{
  background: #afcee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 20px;
  border-bottom-right-radius: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
._do_pdl3_pepl_view_info_r8 h3{
   font-family: Gilroy !important;
   font-size: 40px;
   font-weight: bold;
   line-height: 1;
   color: #222222;
   margin:0px;
}
/*DO PADEL PAGE-3 PEOPLE VIEW END*/


/*DO PADEL PAGE-3 HOME*/
._do_pdl3_home{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 170px 80px 65px 151px;
  background: #fff;
  position: relative;
}
._do_pdl3_home_lft{
  width: 45%;
  padding-right: 30px;
}
._do_pdl3_home_lft_top p{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #222222;
  border:1px solid #222222;
  border-radius: 10px;
  padding: 5px 9px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  font-family: 'Sharp', sans-serif;
  margin: 0px 0px 15px 0px;
}
._do_pdl3_home_lft_top h3{
  margin: 0;
  font-family: Gilroy !important;
  font-size: 60px;                                          
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  color: #222222;
}
._do_pdl3_home_lft_top h4{
  font-family: Gilroy !important;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.29;
  color: #222222;
  margin: 0px 0px 25px 0px;
}
._do_pdl3_home_lft_txt p{
  margin: 0px 0px 50px;
  font-family: Gilroy !important;
  font-size: 20px;
  line-height: 1.8;
  color: #222222;
}
._do_pdl3_home_lft_btm h3{
  margin: 0px 0px 50px;
  font-family: Gilroy !important;
  font-size: 48px;
  font-weight: bold;
  line-height:1.29;
  color: #222222;
}
._do_pdl3_home_lft_btm a {
    font-family: Gilroy !important;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.21;
    color: #ffffff;
    background: #ff536e;
    padding: 15px 25px;
    text-decoration: none !important;
    text-transform: uppercase;
    border-radius: 35px;
    display: inline-block;
}                                                           
._do_pdl3_home_r8{
   width: 55%;
}                                                                                   
._do_pdl3_home_r8_img{
    height: 546px;
    margin-bottom: 55px;
}        
._do_pdl3_home_r8_img img{
   -o-object-fit: contain;
      object-fit: contain;
   width: 100%;
   height: 100% !important;
   display: block;
}
._do_pdl3_home_r8_btm{
  text-align: center;
}
._do_pdl3_home_r8_btm p{
  margin: 20px 0px 0px 0px;
  font-family: Gilroy !important;
  font-size: 16px;
  line-height: 1.29;
  color: #222222;
}
._do_pdl3_home_r8_btm ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
._do_pdl3_home_r8_btm ul li{
  width: 90px;
  height: 90px;
  margin-right: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 12px;
  cursor: pointer;
}
._do_pdl3_home_r8_btm ul li img{
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 100% !important;
   display: block;
   border-radius: 12px !important;
}
._do_pdl3_home_active{
   border: 2px solid #ff536e !important;
}
._do_pdl3_home_icon{
    position: absolute;
    bottom: 15px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    left: 50%;
}
._do_pdl3_home_icon span{
  color: #ff536e;
  font-size: 30px;
  cursor: pointer;
}
/*DO PADEL PAGE-3 HOME END*/

._do_pdl_racket_sec{
  background: #3a354b;
  padding: 230px 221px; 
}
._do_pdl_rckt_crd{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   border-radius: 40px;
   background: #262038;
   padding: 100px 80px 80px 130px;
}
._do_pdl_rckt_crd_lft{
  width: 50%;
}
._do_pdl_rckt_lft_top{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}
._do_pdl_rckt_lft_top_box{
  width: 93px;
  height: 93px;
  /* opacity: 0.1;*/
  border-radius: 20px;
  background-color: #3b374c;
  margin-right: 25px;
  margin-top: 20px;
}
._do_pdl_rckt_lft_top_info{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
._do_pdl_rckt_lft_p1{
  font-family: Gilroy !important;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.29;
  color: #444444;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}
._do_pdl_rckt_lft_top_info h3{
  font-family: Gilroy !important;
  font-size: 53px;
  font-weight: bold;
  line-height: 1.26;
  color: #ffffff;
  margin: 0;
}
._do_pdl_rckt_lft_p2{
  font-family: Gilroy !important;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.30;
  color: #ffffff;
  margin: 0;
}
._do_pdl_rckt_lft_mdl p{
  font-family: Gilroy !important;
  font-size: 20px;
  line-height: 2;
  color: #ffffff;
  margin: 0;
}
._do_pdl_rckt_lft_mdl a{
    text-decoration: none !important;
    background: #ff536e;
    font-family: Gilroy !important;
    font-size: 21px;
    margin-top:52px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.21;
    text-align: center;
    color: #ffffff;
    border-radius: 35px;
    padding: 19px 35px;
    display: inline-block;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
._do_pdl_rckt_lft_mdl a:hover{
   background: #fd2b4c;
}
._do_pdl_rckt_crd_r8{
  width: 50%;
  position: relative;
}
._do_pdl_rckt_crd_img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 764px;
    width: 413px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
._do_pdl_rckt_crd_img img{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    display: block;
    -o-object-position: top;
       object-position: top;
}
._do_pdl_rckt_lft_btm{
  margin-top:65px;
}
._do_pdl_rckt_lft_btm ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl_rckt_lft_btm ul li {
    margin-right: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Gilroy !important;
}
._do_pdl_rckt_lft_btm ul li:last-child{
  margin-right: 0px;
}
._rckt_size{
  font-family: Gilroy !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  color: #ffffff;
  width: 72px;
  height: 54px;
  border-radius: 8px;
  background: #3b374c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
._do_pdl_rckt_lft_btm ul li p{
  font-family: Gilroy;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
._do_pdl_rckt_lft_btm ul li p span{
  font-weight: normal;
}
/*DO PADEL PAGE-1 RACKET SINGEL END*/

/*DO PADEL PAGE-1 VIDEO*/
._do_pdl_video_sec{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111111;
  padding: 200px 170px 200px 80px;
}
._do_pdl_video_info{
  width: 37%;
}
._do_pdl_video_inner{
  padding-right: 40px;
}
._do_pdl_video_info h3{
  font-family: Gilroy;
  line-height: 1.20;
  color: #ffffff;
  font-size: 54px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}
._do_pdl_video_info p{
    font-family: Gilroy;
    font-size: 36px;
    line-height: 1.29;
    color: #ffffff;
    margin: 0;
}
._do_pdl_video_info a{
   text-decoration: none !important;
   background: #ff536e;
   font-family: Gilroy !important;
   font-size: 21px;
   margin-top:100px;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 1.21;
   text-align: center;
   color: #ffffff;
   border-radius: 35px;
   padding: 19px 35px;
   display: inline-block;
   -webkit-transition: 0.3s ease all;
   -o-transition: 0.3s ease all;
   transition: 0.3s ease all;
}
._do_pdl_video_info a:hover{
   background: #fd2b4c;
}
._do_pdl_video_main{
  width: 63%;
}
._do_pdl_video{
    height: 100%;
    position: relative;
    height: 623px;
}
._do_pdl_video:after{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
._do_pdl_video img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100% !important;
  display: block;
  border-radius: 20px !important;
}
._do_pdl_video span{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: #fff;
  z-index: 1;
  font-size: 85px;
  cursor: pointer;
}
/*DO PADEL PAGE-1 VIDEO END*/


/*DO PADEL PAGE-4 BANNER*/
._do_pdl4_bnner_sec{
  height: 100vh; 
 background-size: cover;
 position: relative;
 z-index: 1;
 background-repeat: no-repeat;
 background-position: center;
 position: relative;
}
._do_pdl4_bnner_sec:after{
position: absolute;
content: '';
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
background: -o-radial-gradient(transparent, #000000);
background: radial-gradient(transparent, #000000);
}
._do_pdl4_bnner_sec:before{
position: absolute;
content: '';
top:0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
background: rgb(0,0,0);
background: -o-linear-gradient(bottom, rgb(0 0 0 / 24%) 28%, rgb(0 0 0) 94%);
background: -webkit-gradient(linear, left bottom, left top, color-stop(28%, rgb(0 0 0 / 24%)), color-stop(94%, rgb(0 0 0)));
background: linear-gradient(0deg, rgb(0 0 0 / 24%) 28%, rgb(0 0 0) 94%);
}
._do_pdl4_bnner{
z-index: 2;
padding-left:150px;
height: 100%;
padding-top: 290px;
width: 40%;
padding-bottom: 100px;
}
._do_pdl4_bnner h3{
margin:0px 0px 30px 0px;
font-family: Gilroy !important;
font-size: 68px;
font-weight: normal;
line-height: 1.28;
color: #ffffff;
font-weight: normal;
}
._do_pdl4_bnner h3 span{
font-weight: bold;
}
._do_pdl4_bnner p{
margin: 0px 0px 30px 0px;
font-family: Gilroy !important;
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.75;
color: #ffffff;
padding-right: 100px;
}
._do_pdl4_bnner ul{
padding: 0px;
margin:0px 0px 60px 0px;
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
._do_pdl4_bnner ul li{
margin-right: 50px;
position: relative;
font-family: Gilroy !important;
font-size: 38px;
font-weight: bold;
line-height: 1.29;
color: #ffffff;
}
._do_pdl4_bnner ul li:after{
position: absolute;
content: '';
top: 10px;
right: -24px;
width: 2px;
height: 35px;
background: #fff;
}
._do_pdl4_bnner ul li:last-child:after{
width: 0px;
}
._do_pdl4_bnner ul li:last-child{
margin-right: 0px;
}
._do_pdl4_bnner a{
text-decoration: none !important;
font-family: Gilroy !important;
font-size: 24px;
font-weight: bold;
line-height: 1.21;
color: #ffffff;
background: #ff536e;
border-radius: 35px;
padding: 19px 35px;
text-transform: uppercase;
-webkit-transition: 0.3s ease all;
-o-transition: 0.3s ease all;
transition: 0.3s ease all;
display: inline-block;
width: -webkit-max-content;
width: -moz-max-content;
width: max-content;
}
._do_pdl4_bnner a:hover{                                                                                
background: #fd2b4c;
}
/*DO PADEL PAGE-4 BANNER END*/
/*DO PADEL PAGE-4 FACILITES*/
._do_pdl4_fclts_sec{
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 1080px;
}
._do_pdl4_fclts_sec:after{
position: absolute;
content: '';
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.4;
background: #000;
}
._do_pdl4_fclts_info{
  top: 50%;
  position: relative;
  padding-left: 106px;
  z-index: 1;
}
._do_pdl4_fclts_info p{
margin: 0px 0px 20px 0px;
font-family: Gilroy !important;
font-size: 30px;
font-weight: 600;
line-height: 1.9;
color: #222222;
background: #fff;
border-radius: 12px;
width: -webkit-max-content;
width: -moz-max-content;
width: max-content;
padding: 5px 21px;
}
._do_pdl4_fclts_info h3{
 margin: 0;
font-family: Gilroy !important;
font-size: 78px;
font-weight: bold;
line-height: 1.31;
color: #ffffff;
}
._do_pdl4_fclts_card{
 border-radius: 30px;
 background-color: #111111;
 padding: 10px;
 width: 486px;
 position: absolute;
 right: 40px;
 bottom: 40px;
 z-index: 1;
}
._do_pdl4_fclts_card_img {
  margin: 0 auto;
  width: 120px;
  padding: 20px 0px;
  height: 120px;
}
._do_pdl4_fclts_card_img img{
 -o-object-fit: cover;
object-fit: cover;
width: 100%;
height: 100% !important;
display: block;
}
._do_pdl4_fclts_card_p{
  margin: 0;
  font-family: Gilroy !important;                                         
  font-size: 36px;
  line-height: 1.29;
  color: #ffffff;
  padding: 40px 0px 40px;
  text-align: center;
}
._do_pdl4_fclts_card span{
font-weight: bold;
color: #ff536e;
}
._do_pdl4_fclts_card_inner{
background: #fff;
border-radius: 20px;
padding: 43px;
}
._do_pdl4_fclts_card_top{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-bottom: 30px;
}
._do_pdl4_fclts_card_lft{
  margin-right: 20px;
}
._do_pdl4_fclts_card_lft p{
 margin-right: 40px;
margin: 0;
font-family: Gilroy !important;
font-size: 21px;
line-height: 1.29;
color: #313131;
}
._do_pdl4_fclts_card_r8 ul{
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 0;
margin:0;
}
._do_pdl4_fclts_card_r8 ul li{
margin: 0px 25px 0px 0px;
font-family: Gilroy !important;
font-size: 21px;
line-height: 1.29;
color: #313131;
font-weight: bold;
position: relative;
}
._do_pdl4_fclts_card_r8 ul li:after{
content: '';
position: absolute;
top: 3px;
right: -15px;
width: 2px;
height: 20px;
background: #313131;
}
._do_pdl4_fclts_card_r8 ul li:last-child{
margin-right: 0;
}
._do_pdl4_fclts_card_r8 ul li:last-child:after{
width: 0;
}
._do_pdl4_fclts_card_txt p{
margin: 0;
font-family: Gilroy !important;
font-size: 20px;
line-height: 1.9;
color: #313131;
}
._do_pdl4_fclts_btm{
background-color: #171717;
padding: 30px 20px 15px 34px;
}
._do_pdl4_fclts_btm_top{
  padding-bottom: 15px;
}
._do_pdl4_fclts_btm_top ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 0px 0px 0px 74px;
margin: 0;
list-style: none;
}
._do_pdl4_fclts_btm_top ul li{
margin: 0;
font-family: Gilroy !important;
font-size: 20px;
font-weight: bold;
line-height: 1.29;
color: #ff536e;
text-transform: uppercase;
margin-right: 40px;
cursor: pointer;
}
._do_pdl4_fclts_main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  /* overflow: hidden; */
}
._do_pdl4_fclts_main_itm{
  position: relative;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px 35px;
}
._do_pdl4_htl p{
opacity: 1 !important;
}
._do_pdl4_fclts_main_itm p{
margin: 0px -18px 0px 0px;
opacity: 0.5;
font-family: Gilroy !important;
font-size: 20px;
line-height: 1.29;
letter-spacing: 2.6px;
text-align: left;
color: #ffffff;
text-transform: uppercase;
-webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
        transform: rotate(270deg);
}
._do_pdl4_fclts_main_itm ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 0;
margin: 0;
list-style: none;
}
._do_pdl4_fclts_main_itm ul li{
width: 190px;
height: 132px;
border-radius: 12px;
margin-right: 20px;
cursor: pointer;
border: 4px solid transparent;
}
._do_pdl4_fclts_main_itm ul li img{
 -o-object-fit: cover;
    object-fit: cover;
 width: 100%;
 height: 100% !important;
 display: block;
 border-radius: 12px !important;
}        
._do_pdl4_fclts_actv{
 border: solid 4px #ff536e !important; 
}                              
/*DO PADEL PAGE-4 FACILITES END*/

/*DO PADEL PAGE-4 SECHUDLE*/
._do_pdl4_schdl_sec{
  background: #000;
  padding: 90px 80px 120px 105px;
}
._do_pdl4_schdl_top h3{
    margin: 0px 0px 40px 0px;
   font-family: Gilroy !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.9;
    color: #222222;
    background: #fff;
    border-radius: 12px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px 21px;
}
._do_pdl4_schdl_card_day p{
  margin: 0px 0px 20px 0px;
  font-family: Gilroy !important;
  font-size: 36px;
  line-height: 1.30;
  letter-spacing: 4.32px;
  color: #ffffff;
  border-radius: 12px;
}
._do_pdl4_schdl_card_day span{
  font-weight: 800;
}
._do_pdl4_schdl_card_all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
._do_pdl4_schdl_card{
  width: 33.33%;
}
._do_pdl4_schdl_card_inner {
    position: relative;
    margin-right: 20px;
    border-radius: 24px;
    height: 703px;
    margin-bottom: 30px;
}
._do_pdl4_schdl_card_inner img{
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100% !important;
  display: block;
  border-radius: 24px !important;
}
._do_pdl4_schdl_card_top{
  position: absolute;
  top:35px;
  left:35px;
}
._do_pdl4_schdl_card_top p{
  font-family: Gilroy !important;
   font-size: 20px;
   line-height: 1.30;
   letter-spacing: 2px;
   color: #222222;
   padding: 5px 14px;
   background: #fff;
   border-radius: 12px;
   margin: 0;
}
._do_pdl4_schdl_card_btm {
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: -2px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    z-index: 1;
}
._do_pdl4_schdl_card_logo{
  width: 60px;
  height: 60px;
  position: absolute;
  right:30px;
  top: -31px;
  z-index: 3;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
  /* padding: 5px; */
}
._do_pdl4_schdl_card_logo img{
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 100% !important;
   display: block;
   -o-object-fit: contain;
      object-fit: contain;
}
._do_pdl4_schdl_card_btm_inner{
  position: relative;
}
._do_pdl4_schdl_card_btm_inner:after{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
  background-color: rgb(0 0 0 / 0%);
  z-index: -1;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
._do_pdl4_schdl_card_btm_top{
    padding: 30px 35px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    display: block;
    z-index: 1;
    position: relative;
}
._do_pdl4_schdl_card_btm_top:after{
   position: absolute;
   content: '';
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
   -webkit-backdrop-filter: blur(329px);
           backdrop-filter: blur(329px);
   background-color: rgb(0 0 0 / 15%);
   z-index: -1;
   border-bottom-left-radius: 24px;
   border-bottom-right-radius: 24px;
}
._do_pdl4_schdl_card_btm_top p{
   margin: 0px 0px 5px 0px;
   font-family: Gilroy;
   font-size: 20px;
   line-height: 1.38;
   color: #ffffff;
}
._do_pdl4_schdl_card_btm_top h4{
    margin: 0;
    font-family: Gilroy;
    font-size: 24px;
    line-height: 1.38;
    color: #ffffff;
}
._do_pdl4_schdl_card_info{
  margin-top:25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._do_pdl4_schdl_card_info_txt{
    margin-right: 12px;
}
._do_pdl4_schdl_card_info_txt2{
  position: relative;
  margin-right: 12px;
  padding: 0px 12px;
}
._do_pdl4_schdl_card_info_txt2:after{
      content: '';
      position: absolute;
      top: 5px;
      right: 0px;
      width: 2px;
      height: 20px;
      background: #fff;
}
._do_pdl4_schdl_card_info_txt2:before{
      content: '';
      position: absolute;
      top: 7px;
      left: 0px;
      width: 2px;
      height: 17px;
      background: #fff;
}
._do_pdl4_schdl_card_info_txt p, ._do_pdl4_schdl_card_info_txt2 p, ._do_pdl4_schdl_card_tym p{
  margin:0;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}
._do_pdl4_schdl_card_tym p{
  font-weight: bold;
}
._do_pdl4_schdl_card_btm_txt{
  padding: 30px 10px;
}
._do_pdl4_schdl_card_btm_txt span{
 font-weight: bold;
}
._do_pdl4_schdl_card_btm_txt p{
  margin:0;
  font-family: Gilroy !important;
  font-size: 20px;
  line-height: 1.50;
  color: #ffffff;
  padding: 0px 26px;
}
/*DO PADEL PAGE-4 SECHUDLE END*/